<a href="https://colab.research.google.com/github/iceman67/ai/blob/main/3_AppPython_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 언어 특징
* **코드의 간결성**
* 높은 생산성

> 파이썬을 배우는 이유는 "쉽고 간단함", "높은생산성"

## 코드의 간결성

In [ ]:
print("Hello world")

In [ ]:
# 간결한 반복문
for i in range(1, 11):
    print (i, end=" ")

English like Syntax

In [ ]:
a = 1
b = 1
if a is b:
	print("Hi")
a = 2000
print("Yeah!") if a % 2 == 0 else print("No!")

C 언어와 파이썬 언어 차이점 이해하기
* C 언어
```
#include <stdio.h>
int main() {
	int a = 1;
	printf("%d", a);
	return 0;
}
```
* 파이썬 언어
```
a = 1
print(a)
```

다음의 파이썬 코드의 오류를 찾아 올바르게 수정하시오.
```
x=4
if (x == 4)
{
 printf ("x is equal to four\n");
 printf ("Nothing more to do here.");
}
```

(수정) 오류 수정

In [ ]:
x=4
if (x == 4):
  print ("x is equal to four\n")
  print ("Nothing more to do here.")

오류의 원인은 무엇인가

> Stack Overflow 에서 문제해결하기

In [ ]:
for i in 10:
    print (i, end=" ")

## 높은 생산성
> 다양한 분야 응용 개발을 위한 패키지 활용
* flask 로 웹응용 만들기
* requests 로 공공개방데이터 수집하기
* 수집자료 matplotlib 으로 시각화하기

[텍스트 분석 사례](https://colab.research.google.com/drive/1Ei9i9UZXXn4MuSqiwu6RZp64BLlLsj8m)

## (실습)코드의 간결함
> 정수값을 입력받은 후 해당 정수값의 팩토리얼 값을 출력함

In [ ]:
a = int (input("input number:"))

In [ ]:
def factorial(n):
  if n == 1:
    return 1
  else:
    return n * factorial (n-1)

In [ ]:
print (factorial(a))

### factorial() 함수 작성 방법
> 재귀호출과 반복문 사용

In [ ]:
def factorial(x):
    if x == 0:
        return 1
    else:
        return x * factorial(x - 1)

print (factorial(5))

In [ ]:
def factorial(x):
    fac = 1
    for i in range(1,x+1):
        fac *= i
    return fac

print (factorial(5))

## Python3 차이점 
 * long 형 자료형이 int형으로 통일됨
 * print() 문 차이점

In [ ]:
 print 'hello Python'

### Colab에서 **파이썬 버젼** 확인하기

In [ ]:
!python --version

In [ ]:
!ls

# 연산 (operation)과 자료(value)

> 파이썬 대화형 인터프리터(파이썬 셸)를 실행하여 더하기(+) 연산의 결과를 확인할수 있음

In [ ]:
3+5

In [ ]:
# 문자열 string형 자료
"hello"

In [ ]:
"hello" + "world"

In [ ]:
"hello" + str(1)

In [ ]:
5/3

> print() 함수를 사용하여 위의 처리결과에서 소수점이하 2자리까지만 출력하도록 하고자한다

In [ ]:
a = 5/3
print("%.2f" % a)

In [ ]:
5//3

In [ ]:
num1=3
num2=5

num2//num1

In [ ]:
 # 함수를 사용한 연산 수행
 divmod(45,6)

In [ ]:
round(100.967,2)

###  올바른 연산 수행을 위해 연산자 우선순위(precedence)를 고려하여야 함
> 변수 사용을 이해한 후 실습을 진행한다
* ** 는 지수 연산자를 의미한다

```
+ -  << * / % // << ~, +, - (단항연산자) << ** <<  (   )
```

In [ ]:
100 + 200 + 300 /3

In [ ]:
(100 + 200 + 300) /3

* (실습) 연산자 우선순위 이해하기

In [ ]:
# 3개의 수를 입력 받아 평균을 구하고자 한다

x = 100
y = 200
z = 300

avg = x + y + z /3

print ("평균  = ", avg)

* 평균을 구하는 프로그램의 올바르게 수정하여 작성하시오

(심화실습) 사용자로 부터 입력받은 3개의 수의 평균을 연산자 우선순위를 고려하여 작성하시오

In [ ]:
x, y, z = map (int, input('세 정수를 입력하시오').split())
avg = (x + y + z) /3

print ("평균  = ", avg)

Ternary Expression

In [ ]:
number = 1
parity = "even" if number % 2 == 0 else "odd"
print(parity)
# odd

Ternary Expression (활용)

In [ ]:
def add(a,b):
    return a+b

def multiply(a,b):
    return a * b

a, b = 3, 5
res = (multiply if a > b else add) (a,b)
print(res)
# 8

# 변수
* 변수(Variable)는 값(자료값)을 **저장하는 공간**임
* 변수를 만든다는 것은 숫자나 문자열과 같은 데이터를 저장할 수 있는 공간을 마련하는 것임
* 변수 명(식별자)는 자료형을 지정하지 않고 값을 변수에 저장할 수 있음 (by 배정문) 
* C 언어와 동일하게 식별자로 변수명을 사용함


> id(x) 는 변수 x 에 저장된 참조값(주소)를 얻기 위해 사용함

In [ ]:
# = 는 같다는 의미가 아닌  배정 연산자로서 = 의 오른쪽의 값을 왼쪽 변수에 저장하는 것을 의미함 
x=100

In [ ]:
id(x)

In [ ]:
y=100

In [ ]:
id(y)

In [ ]:
x =1000

In [ ]:
id(x)

In [ ]:
del x

In [ ]:
print (x)

In [ ]:
x =3

In [ ]:
%whos

x, y = 100, 200과 같이 한 줄에 여러 개의 변수를 선언하고 이 변수에 값을 동시에 할당할 수도 있음

In [ ]:
x, y = 100, 200

In [ ]:
# x와 y의 을 교환
x,y = y, x

In [ ]:
%whos

In [ ]:
print (x,y)

In [ ]:
result = x + y
print (result)

## 변수 이름 규칙
* 영문 문자와 숫자를 사용할 수 있음
* _(밑줄 문자)로 시작할 수 있음
* 대소문자를 구분함 ( 변수 X 와 변수 x 는 다른 변수임)
* 문자부터 시작해야 하며 숫자부터 시작하면 안됨
* 특수 문자(+, -, *, /, $, @, &, % 등)는 사용할 수 없음
* 파이썬의 키워드(if, for, while, and, or 등)는 사용할 수 없음

> 좋은 변수 이름은 전체 프로그램을 읽기 쉽게 만듬

* 변수명은 소문자로 복합단어로 구성하는 경우 "_" 를 붙인다
* 클래스명 대문자로 시작한다
* 함수명 변수명과 동일한 방법으로 작성한다

In [ ]:
12month = '봄' 
month_12
# PEP8

## 객체 

* 객체는 변수 형태의 속성(attribute)과 함수 형태의 메소드(method)를 가진것
* 개별 객체는 자기의 속성(내부 데이터)와 메소드(내부연산)을 가짐
* 파이썬에서는 모든 변수와 자료형이 객체로 되어 있음



* 100이라는 값이 메모리에 할당되는데, 이를 객체(object)라고 부름
* 변수 x는 100이라는 값의 객체를 가리킴
```
id(x)
```

## 변수사용

In [ ]:
name = "Bob" 
age = name
print (type(age))
age = 15 
age += 1 # increment age by 1 
print(age)
print (type(age))

In [ ]:
del foo
print (foo)

In [ ]:
a = b = c = 1

In [ ]:
a

In [ ]:
b

In [ ]:
a, b = 3, 4
print(a,b)

In [ ]:
a, b = b, a

# 자료형

* 숫자형(Number)
> 정수형, 실수형, 복소수

* 문자열(String)
> 텍스트 데이터를 문자열이라고 하고 문자, 단어 등으로 구성된 문자들의 집합

* 불(bool)
>  참(True)과 거짓(False)을 나타내는 자료형

* 리스트(List)
>  값의 생성, 삭제, 수정이 가능한 가변 배열

*  튜플(Tuple)
>  값을 변경할 수 없는 리스트

*  딕셔너리(Dictionary)
> 키를 사용하여 값을 접근하는 연관 배열(Associative array)

*  집합(Set)
> 중복을 허용하지 않고 순서가 없는 리스트


\* (참고) https://www.w3schools.com/python/python_datatypes.asp

In [ ]:
# 숫자형 ( 8진수와 16진수)

x = 1 # int
y = 2.8 # float
z = 1j # complex
print(type(x))
print(type(y))
print(type(z))

In [ ]:
# 10진수 정수값은 2진수 문자열로 변환
bin(999)

(심화) 진법변환 함수

In [ ]:
def convert_to_decimal(number, base):
    multiplier, result = 1, 0
    while number > 0:
       result += number%10*multiplier
       multiplier *= base
       number = number//10
    return result

convert_to_decimal(1111100111, 2)

In [ ]:
 (10000000000000000).bit_length()

In [ ]:
# 문자열 

mystring = 'hello'
print(mystring)
mystring = "hello"
print(mystring)

In [ ]:
mystring = ''' 
hello.  world
'''
mystring

(문제) 문자열 a가 아래와 같이 정의되어있다. 다음 실행 결과로 에러가 발생하는 것을 찾으시오

a='I like Python'

```
① print(a)                      ② print(I like "Python") 
③ print('I like "Python"')      ④ print("a")

```

인용부호( ' 또는 ” )를 출력하는 방법으로 잘못된 것을 찾으시오.
```
 ① print('Python-"8"')           ② print('Python-\'8\'')
 ③ print("Python-\'8\'")         ④ print("Python-"8"")

```

## (실습) 피자(원) 넓이 구하기

In [ ]:
# 원의 넓이 PI * r ** 2 를 구하기 위해 필요한 변수를 정하고  코드를 작성한다
radius = input ("read radius")
print (type(radius))

radius = float(radius)
# 상수값은 사용하는 변수 전체 대문자로 변수명을 지정한다
PI = 3.1415

# area = PI * radius * radius
area = PI * radius ** 2

print (area)

## 형변환

In [ ]:
x = "10.5"
x = int (x)
x

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
type (z)
print (y)
print (z)

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
x

In [ ]:
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(z)

In [ ]:
s = "11"
print(type(s))
d = int(s)
d

In [ ]:
# 자료변환 함수 int 의 2번쨰 인수는 base를 의미함
d = int (s,2)
d

다음의 자료변환 함수 int()의 오류 원인을 찾아본다

In [ ]:
s ='1234567A'
d = int (s,16)
d

In [ ]:
myfloat = 7.0
print(myfloat)
myfloat = float(7)
print(myfloat)

In [ ]:
# 오류 원인 찾기
mystring = 'Hello Python\t world"
print(mystring)

In [ ]:
type("I am a string.")

### (실습) 기초 프로그램 작성 1
* 직각삼각형의 빗변의 길이 구하기

In [ ]:
bottom =  float(input('직각삼각형의 밑변의 길이를 입력하시오: '))

In [ ]:
height =  float(input('직각삼각형의  높이를 입력하시오: '))

In [ ]:
hypotenuse = (bottom ** 2 + height ** 2) ** 0.5
print ("빗변은", hypotenuse, "입니다")

In [ ]:
from math import sqrt

bottom =  float(input('직각삼각형의 밑변의 길이를 입력하시오: '))
height =  float(input('직각삼각형의  높이를 입력하시오: '))
hypotenuse = sqrt((bottom ** 2 + height ** 2))
print ("빗변은", hypotenuse, "입니다")

### (실습) 기초 프로그램 작성 2
* 작업시간과 시급를 입력으로 받아 급여지급를 출력하고자 한다
* hour     rate 를 변수로 사용한다

In [ ]:
hour = input("작업시간 ")
rate = input ("시급 ")

hour = int(hour)
rate = int(rate)
pay = hour * rate
print ("급여는 ", pay)

### (실습) 기초 프로그램 작성 3
* 화씨 온도를 섭씨온도로 변환하기

In [ ]:
fahrenheit = int(input("화씨온도: "))
celsius =  (fahrenheit - 32) * (5/9)
print ("섭씨온도 : ", round(celsius,2))

In [ ]:
# 절대 온도를 섭씨온도로 변환하기
kelvin = int(input("절대온도: "))
celsius =   kelvin - 273
print ("섭씨온도 : ", round(celsius,2))

# 문자열 
* 문자열의 인텍스를 통해 구성 문자를 지정할 수 있으며 인텍스의 시작은 0이며 마지막을 문자열 길이 -1 임

* 인덱스의 범위를 지정하여 내부 문자열의 일부를 지정할 수 있으며 :의 왼쪽 값은 범위 시작, 오른쪽은 범위의 끝 인텍스(**자신을 포함하지 않음**)를 나타냄

* 문자열 생성
> 문자열은 문자 리스트임

In [ ]:
string = "Hello, my name is 윤희 :)"

In [ ]:
type(string)

* 문자열은 문자 집합으로 문자열의 구성내용을 접근하기 위해서는 인덱스(index)를 사용한다
>다음 문장의 결과를 예상하시오.

In [ ]:
print(string[1])
print(string[0])
print(string[-1])

문자열의 구성 문자를 출력함

In [ ]:
'I'

In [ ]:
'I love Python'

In [ ]:
"I 'm a Python programmer"  #문자열에 '가 포함되는 경우

In [ ]:
'2.3' + 4 # 오류 원인을 찾아본다

In [ ]:
mystring = "Hello Python world"

In [ ]:
mystring[0]

In [ ]:
print(mystring[-1])
print(mystring[len(mystring)-1])

In [ ]:
for i in mystring:
    print (i, end =",")

### 문자열 슬라이싱 
> 문자열 범위 나누기 
* [시작위치:] 시작위치부터 끝까지 출력
* [:끝위치] 처음부터 (끝위치-1)까지 출력
* [:] 문자열  전체 출력
* [-n:] 끝에서 n문자 출력
* [:-n] 처음에서 (-n-1)까지 출력


다음의 문자열 a에 대해 슬라이싱을 적용하시오.

```
a='Hello Python!'

a[6:]  
a[:5]
a[:]
a[-7:]
a[:-7] 

```

In [ ]:
mystring[1:4]

In [ ]:
mystring[:]

In [ ]:
mystring

In [ ]:
yourstring = mystring

In [ ]:
print (id(yourstring))
print (id(mystring))

In [ ]:
yourstring = mystring +" "

In [ ]:
print (id(yourstring))
print (id(mystring))

In [ ]:
b="Hello, World!"  
print(b[2:5])

* 문자열은 내부적으로 상수로 취급되어 수정이 불가능

In [ ]:
message = "Welcome to Python"
message[0] = 'p'
print(message)

* 숫자형과 문자열 결합 연산

In [ ]:
one = 1
two = 2
hello = "hello"

print(str(one) + str(two) + hello)

### strip()
* 문자열의 공백문자를 제거하기 위해 사용함

In [ ]:
 h="    Hello, World!"
# 공백문자 제거  
print(f"h={h.strip()}")

> 문자열의 시작과 뒤부분에 공백문자 제거

In [ ]:
h = "    This string starts and ends with spaaaace               "

In [ ]:
print(h.strip())

In [ ]:
h

In [ ]:
h= h.strip()
h

In [ ]:
h = "    This string starts and ends with spaaaace               "

In [ ]:
print(h.rstrip())

In [ ]:
h = "    This string starts and ends with spaaaace               "

In [ ]:
print(h.lstrip())

### replace()

In [ ]:
a = "I love Data Science"
a = a.replace("Data", "Computer")

In [ ]:
a

### isalpha()

In [ ]:
numbers = "2"
nonumbs = "two"
print(numbers.isalpha())
print(nonumbs.isalpha())
print(numbers.isalnum())
print(nonumbs.isalnum())

### rfind() 
* 문자열의 위치 인덱스를 반환함 
> find는 앞에서 부터 찾고, rfind는 뒤에서 부터 찾음

In [ ]:
txt = "I like fish. I like tacos. So I like fish tacos!"
x = txt.rfind("fish")
z = txt.rfind("!")
print(x, z)
txt[x:z+1]

### len()
> 리스트 또는 문자열의 길이를 얻음

In [ ]:
name = "Jamie" 
print(len(name)) # 5

In [ ]:
names = ["Bob", "Jane", "James", 0] 
print(len(names)) # 4

In [ ]:
a = "Hello, World!"
print(len(a))

In [ ]:
a[len(a)-1]

### join()

In [ ]:
print(",".join('abcd'))
print(",".join(['a', 'b', 'c', 'd']))

### split()
*  문자열을 줄 단위로 분리하며, 분리되어진 값은 리스트의 원소로서 구성됨

In [ ]:
a='Hello\nPython\n!'  
print(a)
a.split("\n")

* split()를 사용하여 문자열을 “," 로 분리한 후 리스트를 출력

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

In [ ]:
a = "Life is too short"
a.split()

In [ ]:
a = "Art is long. Life is too short"
a.split('.')

### count() 
* str.count(sub[, start[, end]])
* [start, end] 범위 안에서 sub가 몇 번 있는지 센 결과를 return 함
*  특정문자의 갯수를 구함

In [ ]:
m = "kkkkaa"

print ("m.count('kk'):\t", m.count("kk"))
print ("m.count('a'):\t", m.count("a"))
print ("m.count('a', 0, 2):", m.count("a", 0, 2))

### format ()
* 다양한 방식의 문자열 포맷팅을 지원

In [ ]:
s = "Name: {0}, Age: {1}".format("홍길동", 30)
print(s)  #출력: Name: 홍길동, Age: 30

### f-문자열 
* 시작인용 부호 또는 삼중 인용 부호 앞에 f 또는 F 를 붙여 문자열을 시작하며 f-문자열(f-string)을 구성

In [ ]:
# 문자열 맨 앞에 f를 붙이고, 출력할 변수, 값을 중괄호 안에 넣습니다.
s = 'coffee'
n = 5
result1 = f'저는 {s}를 좋아합니다. 하루 {n}잔 마셔요.'
print(result1)

* 0으로 채워지는 f-문자열 사용하기

In [ ]:
product_ids = [72, 12345678, 3332483, 92541, 45249535]

for product_id in product_ids:
    print(f'{product_id:08}')

In [ ]:
for i in range(10, -1, -1):
    print(f'{i:02}')

* pi 값의 소수점(정밀도) 처리 처리하기

In [ ]:
from math import pi

for i in range(1, 7):
    print(f'{pi:.{i}f}')

* 리스트 자료 복사

In [ ]:
lst = [range(10)]
new_lst = lst[:]

In [ ]:
print (id(lst))
print (id(new_lst))

In [ ]:
lst = [range(10)]
new_lst = lst

In [ ]:
print (id(lst))
print (id(new_lst))

# 리스트

* 리스트를 만들 때는 대괄호([ ])로 감싸 주고 각 요소값은 쉼표(,)로 구분해 줌


```
odd = [1, 3, 5, 7, 9]

리스트명 = [요소1, 요소2, 요소3, ...]
```

다음 데이터타입의 4 위치 앞에 3 데이터를 추가하기 위한 명령어로 올바른 것은?

In [ ]:
month=[1,2,4,5]
month.insert(2,3)

In [ ]:
month

In [ ]:
month.sort() # sorted(month)

In [ ]:
month

In [ ]:
month.pop()

In [ ]:
month

In [ ]:
month.remove(3)

In [ ]:
month.remove(-1)

In [ ]:
month[-1]

두번쨰 원소에서 마지막 전 원소까지

In [ ]:
month[1:-1]

**슬라이싱** 실습

In [ ]:
month[:2]

리스트에 포함된 특정 원소의 개수 세기(count)

In [ ]:
month.count(1)

리스트 내용 삭제

In [ ]:
month.clear()

## (심화)리스트 평균구하기


sum(input-list)

Note: average = (sum)/(count)

In [ ]:
inp_lst = [12, 45, 78, 36, 45, 237.11, -1, 88]
 
sum_lst = sum(inp_lst)
print("리스트 합:") 
print(sum_lst)
lst_avg = sum_lst/len(inp_lst) 
print("리스트의 평균값:") 
print(lst_avg) 
print(round(lst_avg,3))

lambda 표현식 사용

In [ ]:
sum = (lambda x,y: x + y)(10, 20)
print (sum)
sum = lambda a, b: a+b
sum(3,4)

In [ ]:
# 입력받은 자료형의 각 요소가 합수에 의해 수행된 결과를 묶어서 map iterator 객체로 리턴
result = list(map(lambda x: x ** 2, range(5))) 
print(result)
result = list(map(lambda i: i ** 2 , inp_lst))
result

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list(map(lambda x: str(x) if x % 3 == 0 else x, a))

In [ ]:
# 두번째 인수인 반복 가능한 자료형 요소들을 첫번째 인자 함수에 하나씩 입력하여 리턴값이 참인 것만 묶어서 반환
result = list(filter(lambda x: x > 0, inp_lst))
result

In [ ]:
# reduce(함수, 순서형 자료)
from functools import reduce
reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])
# = ((((1+2)+3)+4)+5)
reduce(lambda x, y: x + y, [1, 2, 3, 4,5], 0)

In [ ]:
# 최소값 구하기
reduce(lambda x, y: x if x < y else y, inp_lst)

In [ ]:
# 최대값 구하기
reduce(lambda x, y: x if x > y else y, inp_lst)

In [ ]:
# python3 부터 내장함수에서 빠짐

from functools import reduce

# 문제1. 전통적으로 최대값 구하기
def maximum(li):
    default = 0
    for e in li:
        if default < e:
            default = e
    return default
maximum(inp_lst)

# 문제1. reduce 활용하여 최대값 구하기
reduce(lambda a,b: a if a > b else b ,inp_lst)

* reduce 함수를 사용한 리스트 평균구하기

In [ ]:
from functools import reduce

inp_lst = [12, 45, 78, 36, 45, 237.11, -1, 88]
 
lst_len= len(inp_lst)
 
lst_avg = reduce(lambda x, y: x + y, inp_lst) /lst_len 
print("Average value of the list:\n") 
print(lst_avg) 
print("Average value of the list with precision upto 3 decimal value:\n")
print(round(lst_avg,3))

* numpy 를 사용한 리스트 처리

In [ ]:
import numpy as np
 
inp_lst = [1, 2, 3, 4, 5]
 
lst_avg = np.average(inp_lst)
print("Average value of the list:\n") 
print(lst_avg) 



print("Average value of the list with precision upto 3 decimal value:\n")
print(round(lst_avg,3))

In [ ]:
queue = ["Jack", "Ann", "Sofie"]

for i in range(len(queue)):
    name = queue[i]
    print("{} is at {}. position".format(name, i + 1))

In [ ]:
queue = ["Jack", "Ann", "Sofie"]
  
for position, name in enumerate(queue):
    print("{} is at {}. position".format(name, position + 1))

# 딕셔너리

* Creating empty dictionary

In [ ]:
Dictionary = {}
print(Dictionary)

* Creating dictionary using integer keys

In [ ]:
D = {1: 'lion', 2: 'tiger', 3: 'zebra'}
print(D)

* Creating dictionary using mixed keys

In [ ]:
D = {'animal': 'tiger', 4: [1, 2, 3]}
print(D)

* Creating dictionary using Dict() function

In [ ]:
D = dict({1: 'lion', 2: 'tiger', 3: 'zebra'})
print(D)

* Accessing dictionary using []

In [ ]:
d = {'animal': 'tiger', 'ani': 'zebra'}
print(d['animal'])

* Accessing dictionary using get()

In [ ]:
p = {'animal': 'tiger', 'ani': 'zebra'}
print(p.get('ani'))

* Updating a dictionary

In [ ]:
S = {'color1': 'pink', 'color2': 'red'}
S['color1'] = 'green'
S

* Adding an item to a dictionary

In [ ]:
S = {'color1': 'green', 'color2': 'red'}
S['color3'] = 'yellow'
S

* Deleting dictionary elements

In [ ]:
# key가 3인 항목을 삭제함
R = {1: 'n', 2: 'f', 3: 'w', 4: 'y', 5: 'i'}
print(R.pop(3))
print(R)

In [ ]:
R = {1: 'n', 2: 'f', 3: 'w', 4: 'y', 5: 'i'}
# 마지막 항목을 삭제함
print(R.popitem())
print(R)

* Removing all the items from the dictionary, making them empty.

In [ ]:
R = {1: 'n', 2: 'f', 3: 'w', 4: 'y', 5: 'i'} 
print (R.clear())

* Deleting the entire dictionary

In [ ]:
R = {1: 'n', 2: 'f', 3: 'w', 4: 'y', 5: 'i'} 
del R

print (R)

* Return a new object of the items present in a dictionary in a key-value format.

In [ ]:
P = dict({1: 'lion', 2: 'tiger', 3: 'zebra'})
for i in P.items():
    print(i)

* Return all the dictionary keys present in the dictionary

In [ ]:
P = dict({1: 'lion', 2: 'tiger', 3: 'zebra'})
print(P.keys())

* Dictionary membership test

In [ ]:
D = {1: 34, 2: 23, 3: 56, 4: 99, 5: 55}
print(1 in D)
print(3 not in D)
print(7 in D)

* Iteration using dictionary

In [ ]:
R = {1: 34, 2: 23, 3: 56, 4: 99, 5: 55}
for d in R:
    print(R[d])

# 프로그램시 유의사항

## print() 문 
* 다음 python 코드를 실행 한 후 특수문자 ('\t'와 '\n') 을 이해한다
```
print("안녕하세요.\n만나서\t\t반갑습니다.")
```

In [ ]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

In [ ]:
one = 1
two = 2
three = one + two
print(three)

hello = "hello"
world = "world"
helloworld = hello + " " + world
print(helloworld)

 * (문제)다음 프로그램의 수행결과를 보이시오

In [ ]:
x = "awesome"
print("Python is "+ x)

## 들여쓰기 
* 들여쓰기는 코드를 읽기 쉽도록 일정한 간격을 띄워서 작성하는 방법임 
* 파이썬에서는 수행 흐름을 제어하기는 경우 블록설정을 위해 들여쓰기를 하여야함 
* 파이썬에서는 **들여쓰기 자체가 문법임**
* 파이썬에서 들여쓰기 방법은 공백(스페이스) 2칸, 4칸, 탭(tab) 등 여러 가지 방법이 있음, **4칸들여쓰기** 추천
> 파이썬 코딩 스타일 가이드(PEP 8)에서는 공백 4칸으로 규정

In [ ]:
a = 10
if a == 10:
   print('10입니다.')    # 들여쓰기 문법 에러

## input() 함수 사용하기

In [ ]:
x = input("input a number")

In [ ]:
x

In [ ]:
y = input ("input a number")

In [ ]:
z = int(x) - int(y)
z

In [ ]:
print('양수를 입력해 주세요')
x = input()
print('양수를 입력해 주세요')
y = input()
a = x
b = y
c = int(a) + int(y)
print('두수의 합은 %d 입니다' % c)

# 컨테이너 자료형
* 변수를 이용해서 데이터를 저장하는 경우 여러 데이터를 묶어서 저장하고 관리하는 것이 효율적임
* 컨테이너 자료형은 다양한 자료형이 가능함

In [ ]:
fruits = ['Apple', 'Pear', 'Peach', 'Grape']
tools = ['Pencil', 'Knife']
names = ['Alice', 1, 'Bob', 'David']

In [ ]:
for n in names:
  print(f'{n} 의 자료형 {type(n)} ')

* 파이썬의 컨테이너 자료형은 리스트, 튜플, 딕셔너리, 집합이다
> 리스트, 튜플, 딕셔너리를 다룸

In [ ]:
list = [1,2,3,4,5]
tuple = (1,2,3,4,5)
dictionary = { 'Korea' : 'Seoul', 'China' : 'Beijing'}

In [ ]:
print(type(list))
print(type(tuple))
print (type(dictionary))

### (실습) 반복문을 사용한 리스트 자료처리

In [ ]:
my_list = [1, 2, 3, 4, 5]
# Forward loop
index = 0
while index < len(my_list):
    print(my_list[index])
    index += 1

In [ ]:
my_list = [1, 2, 3, 4, 5]
# Reverse loop
index = len(my_list) - 1
while index >= 0:
    print(my_list[index])
    index -= 1

## [컨테이너 자료형 실습](https://colab.research.google.com/drive/102dKfFS-qVlphA_hnFgcj4pCG7tYoZEq)

## [Counter 클래스 사용하기](https://colab.research.google.com/drive/18RY0gKO7BkA6LaIgXFcamwUQIluwsLjS)

# 조건문
> 조건식의 참(Ture)와 거짓(False)을 판별하여 실행할 문장을 선택하여 처리

* if 문
* if - else 문
* if - elif -else 문

다음 파이썬 코드의 출력결과를 예상하여 작성하시오
```
if 5 > 2:
  print("Five is greater than two!")
```

In [ ]:
x = 3
y = 2

In [ ]:
x == y

In [ ]:
x != y

In [ ]:
x >= y

In [ ]:
money = 1300

if money >= 1200 and money < 2000:
   print("You can take a bus!")

In [ ]:
money = 1000
if money >= 1200 and money < 2000:
   print("You can take a bus!")
else:
   print("There is no enough money")

(문제)다음 조건문의 **오류** 를 찾으시오.

In [ ]:
if money >= 1200 and money < 2000:
   pass
elif money > 2000:
   print ("Take a bus")
else:
   print("Take a taxi")

print (f"money = {money}")

**문제해결**

In [ ]:
if money >= 1200 and money < 2000:
    print ("Take a bus")
elif money > 2000:
   print ("Take a taxi")
else:
   print("There is no enough money")

print (f"money = {money}")

In [ ]:
sam = 10
if sam < 8:
   print("sam")
else:
  print("10")

In [ ]:
# 단순화된 if 문
sam = 10
print("sam") if sam < 8 else print("10")

### (실습)조건문

* 만약 a 가 b 보다 크면  "Hello World“를 출력하시오.

In [ ]:
a = 5
b = 3 
if a  >   b:
print("Hello World")

* 만약 a와 b 가 같지 않으면  "Hello World“를 출력하시오

In [ ]:
a = 50
b = 10

if a  !=  b:
  print("Hello World")

* 만약 a와 b가 같으면  "Yes" 그렇지 않으며 "No".를 출력하시오.

In [ ]:
a = 50
b = 10

if a  ==  b:
  print("Yes")
else:
  print("No")

* 만약 a와 b가 같으면 “1”, a가 b보다 크면 “2”를 그렇지 않으며 “3”을 출력하시오.

In [ ]:
a = 10
b = 50
if a  ==   b:
  print("1")
elif a > b:
  print("2")
else: 
  print("3")

**(실습)** 정수값을 입력받아 해당 정수값이 3의 배수 인지 판별하도록 369 경기 프로그램을 작성하시오

In [ ]:
#x = int (input ("read input :"))
x = 1
while x < 10:
    if x % 3 == 0:
        print("짝")
    else:
        print (x)
    x = x + 1

### 컬렉션 자료에서 원소 검사
```
x in 리스트
x in 튜플
x in 문자열
```

In [ ]:
1 in [1,2,3]

In [ ]:
x = 4
x in [1, 2, 3]

In [ ]:
x = 'e'

if x in ['a','e','i','o', 'u']:
   print (f"{x} is vowel")

### 조건 연산자
> 변수 x와 y의 값에서 큰값을 찾아 변수 max_value 에 저장하고자 한다.  이를 조건 연산자를 사용하여 작성하면 다음과 같다.

```
max_value = (x if x > y else y)

```

> 제품 가격이 20,000 이상이면 배송비를 무료로 하고 그렇지 않은 경우 3,000원은 배송료로 정하여 최종 결제금액을 출력함

In [ ]:
price = 30000
delivery_cost = (0 if price > 20000 else 3000)
print ("전체금액은 ", (price + delivery_cost))

# 반복문

* 지정된 범위에 해당하는 만큼 반복해서 실행 
* while 문과 for문



```
while <조건>:
    실행문장1
    실행문장2


for 변수 in 리스트|튜플|문자열:
    실행문장1
    실행문장2
```

### while 문

1에서  N (10) 합

In [ ]:
sum = 0
i = 1
N =10
while i <= N:
    sum = sum +i
    i = i + 1
print(f"1 에서 {N} 까지 합 = {sum}")

### for 문

> 1에서 100 합

In [ ]:
s = 0
for i in range(1, 101):
  s = s + i

print ("sum of 100 " + str(s))

* 함수 append()를 반복수행하여  0에서 9 까지의 정수를 생성된 리스트를 생성함

In [ ]:
result=[ ]
for i in range(10):
    result.append(i)
result

In [ ]:
word_list = ['one', 'two', 'three']
 
length = 0
for i in word_list:
  print (f'list item = {i}')
  length = length + 1

print (f'total number of list = {length}')

(문제)다음 반복문의 **오류** 를 찾으시오

In [ ]:
sum = 0 
n = 10 
for i in n:
  sum = sum + i

print (f'sum of 10 to {n} = {sum}')

In [ ]:
sum = 0 
n = 10 
for i in range(n+1):
  sum = sum + i

print (f'sum of 10 to {n} = {sum}')

* 숫자형 자료인 1, 2, 3을 갖는 리스트 numbers 의 값을 반복문을 사용하여 출력

In [ ]:
numbers = [1, 2, 3]
for number in numbers: 
   print(number)

* 문자열을  구성하는  문자를 반복문을 사용하여 처리

In [ ]:
dog_name = "BINGO"
for char in dog_name: 
    print(char)

In [ ]:
for i in 3: 
    print(i)

* 두개의 반환 값의 처리하는 예를 보인 것으로 idx 는 리스트의 인덱스를 animal 은 리스트의 값을 전달받음

In [ ]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print('#%d: %s' % (idx + 1, animal))

* for 루프는 scores  딕셔너리로부터 키를 하나씩 전달받음

In [ ]:
scores = {"철수": 90, "민수": 85, "영희": 80}
for key in scores:
    val = scores[key]
    print("%s : %d" % (key, val))

(문제) if 문과 for 문 사용하기

In [ ]:
li = 'python'

for x in li:
  if x in ['a','e','i','o', 'u']:
      print (f"{li} : {x} is vowel")

* **(실습)** 자료에서 특정한 조건의 값을 찾아 합과 평균을 구한다.

In [ ]:
# 다음 리스트에서 50점 이상의 점수들의 총합 및 평균을 구하시오.
# marks=[90,-10, 25,67,45,80]
marks=[90,10, 25,67,45,80]

total = 0
avg = 0
higher_count = 0
wrong_data = False
for m in marks:
    if m < 0:
        wrong_data = True
        break
    if m >= 50:
        total = total + m
        higher_count+= 1

if wrong_data == False:
    print (f"sum = {total}, average = {total/higher_count}")
else:
    print ("There is wrong data")

In [ ]:
# 다음 리스트에서 0보다 크고 50점 이상의 점수들의 총합 및 평균을 구하시오.
marks=[90,10, 25,67,45,80, -10]
higher_list = []

for m in marks:
    if m >= 50 and m > 0:
        higher_list.append(m)

print (f"sum = {sum(higher_list)}, average = {sum(higher_list)/len(higher_list)}")

* for 문을 이용해서 저희 가족들(family)의 이름과 문자열 길이를 출력한다

In [ ]:
family = ['mother', 'father', 'gentleman', 'son', 'daughter']

for x in family:    # family라는 리스트의 각각의 항목 x에 대하여:
  print('%s %d' % (x, len(x)))

* 제곱 구하기 
> 수를 한 개 입력받아 1부터 입력받은 수까지 각각에 대해 제곱을 구해 프린트하는 프로그램을 작성해 보세요

In [ ]:
print("input number : ")
x = int(input())

for i in range(1,x+1):
  print (f"The square of {i} = {i**2} ")

* 문자열의 해석하여 특정범위의 값의 온도를 변환함
> (섭씨온도 × 1.8) + 32 = 화씨온도

In [ ]:
value = '0 10'
print(type(value))

start, end = value.split()
for i in range(int(start), int(end)+1):
  print (f'Celsius {i} to Fahrenheit  {(i*1.8) + 32} ')

(실습) **소수(prime number)** 구하기
* 소수는 1과 자신으로만 나누어짐 
* 1은 소수가 아님

> 정수를 입력받아 소수인지 검사한다, 소수을 판단하기 위해 is_prime을 사용함

In [ ]:
n = input("input a number : ")
is_prime = True
for x in range(2,n):
    if n % x == 0:
      print (n, 'equals', x, '*', n/x)
      is_prime = False
      break

if is_prime:
    print (n, 'is prime')

* 삼각형 패턴 출력하기

In [ ]:
n = 5
for i in range (n):
    for j in range(i+1):
        print ("* ", end='')
    print ("\n")

In [ ]:
n = 5
print ('\n'.join("* " * i for i in range(1, n+1)))

**(활용)** for문을 활용하여 새로운 리스트 생성하기

In [ ]:
xlist = []
n = 10
for i in range(n+1):
  xlist.append(i)
print (xlist)

In [ ]:
import random
total = 0
while total < 100:
    total += random.randint(-10,10)
    print(total)

In [ ]:
import random
total = 0
i = 0
while total < 100:
    total += random.randint(-10,10)
    print(total)
    i += 1
    if i == 1000000:
       break

###for - else
* for문과 같은 수준에 else를 추가하여 break없이 빠져나온 경우를 처리
*  간결해지면서 가독성이 높음


> num = 8 에서 반복루프를 빠져나오기때문에, else문이 실행이 되지 않고
**list contains numbers greater than 5** 이 출력 됨

In [ ]:
lst = [1,2,3,4,8]
for num in lst:
      if num >5:
          print ("list contains numbers greater than 5")
          break
else:
      print("list contains numbers less than 5")

> for loop가 break없이 빠져나왔으므로 **list contains numbers less than 5** 가 출력이 된다.

In [ ]:
lst = [1,2,3,4]
for num in lst:
      if (가   ):
          print ("list contains numbers greater than 10")
          break
(나.  ):
      (f"average = {(다.  ) }     )

In [ ]:
lst = [1,2,3,4, 8]
for num in lst:
      if 10 < num:
          print ("list contains numbers greater than 10")
          break
else:
      print(f"average = {sum(lst)/len(lst)}"     )

## (실습) for-else 문으로 자료에서 특정한 조건의 자료 합과 평균을 구한다.

> 자료가 0보다 작으면 수행을 멈춘다

In [ ]:
# 다음 리스트에서 50점 이상의 점수들의 총합을 구하시오.
marks=[90,-10, 25,67,45,80]
#marks=[90,10, 25,67,45,80]


total = 0
i = 0

higher_cnt = 0
for i in range(len(marks)):
    #print(f'i = {i}')
    if marks[i] < 0:
        break
    if marks[i] >= 50:
        higher_cnt += 1
        total = total + marks[i]
else:
    print ("50점 이상의 점수들의 총합 = %d" % total)
    print ("50점 이상의 점수들의 평균 = %d" % (total/higher_cnt))

## (실습) 소수(prime number) 구하기
* 1과 자신으로만 나누어지는 수를 소수로 정의함 
* 소수가 아닌경우 반복을 종료하고 **반복을 정상적으로 마치는 경우 else 수행** 소수 출력

In [ ]:
for n in range(2,10):
  for x in range(2,n):
    if n % x == 0:
      print (n, 'equals', x, '*', n/x)
      break
  else:
    # loop fell through without finding a factor(0으로 나누어지는 값)
    print (n, 'is prime')

# 리스트 컴프리핸션(List Comprehension)

* 기존의 리스트형을 사용하여 간단하게 새로운 리스트를  생성할 수 있음 
* 문법
```
[<expression> for <variable> in <list>]
```
* 사용 예
```
result = [i for i in range(10)]
result
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
```

> 반복문을 사용한 리스트 구성

In [ ]:
result = []
for i in range(10):
    if i % 2 == 0:
        result.append(i)

print (result)

> 리스트 컴프리핸션으로 재작성

* 조건을 갖는 경우 
```
[<expression> for <variable> in <list> if <condition>]
```

In [ ]:
[i for i in range(10) if i % 2 == 0 ]

In [ ]:
result = [i for i in range(10) if i % 2 == 0]
print(result)

In [ ]:
# 조건이 True이면 해당값을 False이면 10으로 값으로 구성
result = [i if i % 2 ==0 else 10 for i in range(10)]
result

실습
> 1에서 4까지 정수로 구성된 리스트 구성

In [ ]:
nums= [x+1 for x in range(5)]
nums

> 리스트값의 제곱구하기

In [ ]:
a = [] # Empty list
list1= [1,2,3,4]
for i in list1:
  sq = i**2
  a.append(sq)

print (a)

In [ ]:
[x ** 2 for x in [1,2,3,4]]

리스트 컴프리핸션으로 구성하기

In [ ]:
squares = [x ** 2 for x in nums]
print(squares)   # Prints [1, 4, 9, 16]

In [ ]:
#del sum
list_a=[1,2,3,4]
list_b=[5,6,7,8]
elementwise_sum=[sum(pair) for pair in zip(list_a,list_b)]
elementwise_sum

In [ ]:
list(range(1,5))

In [ ]:
[x for x in range(1,10) if x % 2 == 0]

In [ ]:
[x + 4 for x in [10, 20]]

In [ ]:
def some_function(a):
    return (a + 5) / 2
    
m = [some_function(i) for i in range(8)]
print(m)

In [ ]:
[[j for j in range(3)] for i in range(4)]

In [ ]:
{s for s in range(1,5) if s % 2}

In [ ]:
{x: x**2 for x in (2, 4, 6)}

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat = [x for row in matrix for x in row]
flat

In [ ]:
squared = [[x**2 for x in row] for row in matrix]
print(squared)

> 두개의 문자열의 원소(문자)를 얻어 새로운 문자열 집합을 구성함

In [ ]:
word1 = "Hello"
word2 = "World"

result = [ i + j for i in word1 for j in word2]
result

In [ ]:
marks = [10,20,40, 70, 25, 60]

low = [x for x in sorted(marks) if x < 60 ]
# low = [x for x in marks if x < 60 ]
print (low)

0 에서 10까지 반복하며 짝수를 반환하여 새로운 결과를 리스트로 구성 (리스트 컴프리핸션 포함)

In [ ]:
my_list = []
for number in range(0, 10):
    if number % 2 == 0:
        my_list.append(number)
my_list

In [ ]:
my_list = [number for number in range(0, 10) if number % 2 == 0]
my_list

# random 패지키 사용하기

In [ ]:
import random
set1 = [ 1, 2, 3, 4, 5 ]
random.sample(set1, 2)

# 함수
* 프로그래밍 과정에서  같은 내용 또는 유사한 내용을 반복해서 작성하는 경우,  함수는 반복되는 부분을 별도로 정의하여 필요할 때 사용할 수 있도록 함
* 특정작업을 나타내는 코드블록
* 사용자가 만드는 사용자 정의함수와 print() 함수와 같은 파이썬 제공 내장함수가 있음 


> 내장함수가 있으면 최대한 활용하도록 하는것이 효과적임 
* https://docs.python.org/ko/3/library/functions.html  

``` 
def 함수명(인수):
    명령문1
    명령문2
    return 1개 이상의 변수

def 함수명(*인수):
    명령문1
    명령문2
    return 1개 이상의 변수

```

### 함수 사용 이점 
*  프로그램 안에서 중복된 코드를 제거
*  복잡한 프로그래밍 작업을 더 간단한 작업들로 분해
*  한번 만들어 다른 프로그램에서도 재사용
*  가독성이 증대
*  유지 관리도 쉬워짐

In [ ]:
def print_star():
    print("*****")

print_star()
print_star()

In [ ]:
def get_area(r=10):
    return r * r * 3.14

#area = get_area(20)

area = get_area()
print (area)

In [ ]:
a = 1
def vartest(): 
    global a
    a = a + 1
     

vartest()
print(a)

In [ ]:
def get_sum(start, end):
    total = 0
    for i in range(start, end+1):
        total = total + i
    return total

value = get_sum(1, 10)
print (value)

In [ ]:
def mul(x):
  return (x**2)

xlist = [1,2,3,4]
for x in xlist:
  y = mul(x)
  print (f"{y} = {x}**2")

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

In [ ]:
def hello(name, loud=False):
    if loud:
        print('HELLO, %s!' % name.upper())
    else:
        print('Hello, %s' % name)

hello('Bob') # Prints "Hello, Bob"
hello('Fred', loud=True)  # Prints "HELLO, FRED!"

In [ ]:
# 함수선언에서 hello 는 함수 이름이며, 매개변수 없이 구성되어 있다.
# 즉, 함수를 호출할 때 전달되는 값이 없다. 

def hello():
    print ("hello Python!")

In [ ]:
def is_prime_number(n):
    is_prime = True
    for x in range(2,n//2):
        if n % x == 0:
            #print (n, 'equals', x, '*', n/x)
            is_prime = False
            break
    return is_prime

n = int(input("input a number : "))

if is_prime_number(n):
    print (n, 'is prime')
else:
    print (n, 'is not prime')

* (실습) 재귀함수 작성
> factorial 구하기

5 ! = 5 * 4 * 3 * 2 * 1

```
factorial(5) = 5 * factorial(4)
facotrial(4) = 4 * factorial(3)
factorial(3) = 3 * factorial(2)
factorial(2) = 2 * factorial(1)
factorial(1) = 1 
```

* for 문으로 작성된것은 재귀함수로 변환될수 있음

In [ ]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)


result = factorial(5)
print (result)

1에서 n까지 합을 구하는 함수 sum() 재귀함수로 작성

In [ ]:
def sum(n=1):
    if n == 1:
        return 1
    else:
        return n + sum(n-1)

result = sum(10)
print (f"result = {result}")


result = sum()
print (f"result = {result}")

### (실습) 원의 넓이 구하기

In [ ]:
def get_area_circle  (r=10):
    return r * r * 3.14

print (get_area_circle())

In [ ]:
hello()
hello()

함수의 이름은 $hello2$ 이고 입력으로 1개의 값을 전달 받으며 결과값은 반환하지 않는다

In [ ]:
def hello2(name):
    print ("hello", name)

In [ ]:
hello2("Justin")
hello2("John")

 (오류) 함수 $my\_function$ 은 2 개 인수를 필요하지만 1개만 있음

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil")

함수 이름은 $add$ 이고 입력으로 2개의 값을 전달 받으며 결과값은 2개의 입력값을 더한 값을 반환한다.

In [ ]:
def add(a, b): 
    return a + b

In [ ]:
a = 3
b = 4
c = add(a, b)
print ("add() 함수 반환값 = ", c, end ='\n')

두 수를 입력으로 받아 x와 y의 2개의 값을 곱한 결과값를 반환한다.  
```python
def multiply_two_numbers(x, y):
    result = x * y
    return result
```

result 에 두수 x와 y의 곱한 결과를 저장하지 않고 결과값을 반환한다.

In [ ]:
def multiply_two_numbers(x, y):
    return x * y

In [ ]:
x = 10
y = 20
print ("두 값의 곱하기 결과 : ",  multiply_two_numbers(x, y))

## 함수의 범위
*지역변수* a 는 함수 호출 이후 변경되지 안은 전 값을 가짐

In [ ]:
a = 1
def vartest(a):
    a = a + 1

vartest(a)
print(a)

In [ ]:
a = 1
def vartest():
    global a
    a = a + 1

vartest()
print(a)

In [ ]:
def foo(a):
    a = a+5
    print(a)             # prints 15

a = 10
foo(a)
print(a)                 # prints 10

함수 외부의 변수 gx 는 전역 변수로서 프로그램 어디에서나 사용할 수 있음

In [ ]:
gx=100

def myfunc():
    print (gx)

myfunc()
print (gx)

In [ ]:
def myfunc():
    x = 200
    print (x)

def main():
    x = 100
    print(x)
myfunc()
main ()

함수 안에서 전역변수 변경하기

In [ ]:
gx=100

def myfunc():
    global gx
    gx = 200
    print (gx)

myfunc()
print (gx)

리스트는 인수의 전달값을 참조한 후 자료 변경값이 유지됨

In [ ]:
def foo(lst):
    lst = lst + ['new entry']  # 변경된 lst 는 지역변수임
    print(lst)                # Prints ['Book', 'Pen', 'new entry']

lst = ['Book', 'Pen']
print(lst)                    # Prints ['Book', 'Pen']
foo(lst)
print(lst)                    # Prints ['Book', 'Pen']

In [ ]:
def foo(lst):
    lst[1] = 'new entry'
    print(lst)                # Prints ['Book', 'new entry']

lst = ['Book', 'Pen']
print(lst)                     # Prints ['Book', 'Pen']
foo(lst)
print(lst)                     # Prints ['Book', 'new entry']

In [ ]:
def foo(lst):
    lst = lst[:]
    lst[1] = 'new entry'
    print(lst)                   # Prints ['Book', 'new entry']

lst = ['Book', 'Pen']
print(lst)                       # Prints ['Book', 'Pen']
foo(lst)
print(lst)

### 실습목표 

* 작성된 내용을 함수를 사용하여 재작성함
* 함수를 사용할때 이점을 이해함


---
* 함수를 사용하지 않은 코드 구성을 이해함

In [ ]:
all_list = [1,2,3,4,5]
even_list = []
for i in all_list:
  if i % 2 == 0:
    even_list.append(i)

print (even_list)

## 매개변수와 인수 

* 함수는 정의 후 호출을 통해 사용됨 
* 함수 호출을 통해 데이터를 전달하게 되며, 이를 호출부분에서의 해당 값을 인수(argument)하고 하고 정의부에서 매개변수(parameter) 라고 함


> (수업내용) openAPI 를 사용한 데이터 요청, 데이터 처리 및 데이터 저장을 각각 함수로 작성함

## 자료 검색 함수
리스트에서 자료 검색하기 위해 함수 search_list()를 작성하고 함수 search_list()의 호출을 보인 것이다.

In [ ]:
def search_list(a, x):
    n = len(a)
    for i in range(0,n): # 리스트 a의 모든 값을 차례로 
        if x == a[i]:    # x값과 비교함
           return i
    return -1            # 끝까지 비교해도 없으면 -1을 돌려줌

In [ ]:
v = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print ( search_list(v, 20))

### (실습) 10진수 이진수로 변경하기 

![image.png]()

In [ ]:
decimal = 10
result = ' '
while (decimal > 0):
   remainder = decimal % 2
   decimal = decimal // 2
   result = str(remainder) + result
print(result)

In [ ]:
#10진수 이진수로 변경하기 함수 활용

In [ ]:
def dec2bin(decimal):
  result = ' '
  while (decimal > 0):
     remainder = decimal % 2
     decimal = decimal // 2
     result = str(remainder) + result

  return result

In [ ]:
print (dec2bin(10))

In [ ]:
decimal = 11
result = [] 
while (decimal > 0):
    remainder = decimal % 2
    decimal = decimal // 2
    result.append(str(remainder))

print (result)

while result:
    x = result.pop()
    print (x, end = " ")

### (실습) 함수의 재구성 

키보드를 통하여 학생 점수를 0점 숫자가 나올 때까지 입력받아 0점을 제외한 나머지 점수의 평균을 리턴하는 함수 만들기 
* 사용자로 부터 점수를 입력받는 함수  get_input_number()
* 평균을 구하는 함수 get_average()

In [ ]:
def get_average():
    scores = []
    while True:
        print ("input number :")
        score = int(input())
        if score != 0:
            scores.append(score) 
        else:
            break
    # print (scores)    
    return sum(scores)/len(scores)
    
avg = get_average()
print ("average = %f" % avg)

(참고) 사용자로 부터 입력을 받아 점수를 리스트로 구성한 후 평균을 구한다

In [ ]:
def average(marks):
    sum = 0
    for t in marks:
        sum = sum + int(t)
    return sum/len(marks)

In [ ]:
print ("학생 점수를 입력하세요:")
marks = input()

In [ ]:
marks = marks.split()

In [ ]:
marks

In [ ]:
print (average(marks))

### (실습) 리스트에서 자료 얻기

In [ ]:
# Get the last item for a list
def get_last_item(some_list):
    last_index = len(some_list) - 1
    return some_list[last_index]


print(get_last_item(my_list))

## **함수심화**
**함수호출 인자 값 전달**

* 파이썬은 모든 자료를 "객체"로 표현
* 함수 호출시 값은 전달하기 객체의 참조(reference)를 전달
* 함수가 호출될 때 **mutable은** 변경가능한 객체와  immutable은 변경 불가능한 객체에 따라 처리 동작이 상이함
* mutable객체일 때는 참조에 의한 호출로서 계속 동작하게 되지만, immutable객체 일 때는 값에 의한 호출과 같이 동작

In [ ]:
#  매개변수x를 통해 wordlist 가 저장된 공간의 주소값을 접근
def change(x):
    x[0] = 'H'

wordlist = ['J', 'A', 'M']
change(wordlist)
print(wordlist)

In [ ]:
# 함수호출후에 출력되는 내용은 무엇인가 
def change(x):
  x.append('H')
  x = ['C', 'A', 'M']

wordlist = ['J', 'A', 'M']
change(wordlist)
print(wordlist)

## 가변인수를 갖는 함수 사용하기
**가변 인자**
* 인자의 수가 미정일 경우 가변인자를 사용함 
* 임의의 개수를 갖는 인자를 가변인자라고 함 
* 가변 위치인자(*args)는 임의개수의 위치인자를 tuple형태의 변수로 저장함

In [ ]:
def add(*args):
  sum = 0
  for i in args:
    sum = sum + i
   
  return sum

print ("add = ", add(1,2,3))
print ("add = ", add(1,2,3,4))

In [ ]:
def myFun(*args):
    for arg in args:
        print (arg)
   
myFun('Hey', 'Welcome', 'to', 'Techfitlab')

가변인자 실습
```
def avg(x, *args):
    # x -> 1
    # args -> (2,3,4,5,6)

```

In [ ]:
def avg(x,*more):
  return float(x+sum(more))/(1+len(more))

In [ ]:
avg(10,11)

In [ ]:
avg(1,2,3,4,5,6)

### 디폴트 인수 사용

In [ ]:
def foo(arg1=0, arg2=0, arg3=0):
    print (arg1, arg2, arg3)

a,b,c = 1,2,3
foo(arg1=b)
foo(arg1=a, arg2=b)

foo(a, arg2=b)
foo(a, arg2=b,c)

### 다중인수 처리

In [ ]:
def foo(*args):
    total = 0
    for i in args:
        total += i

    print (total)

a,b,c,d,e = 1,2,3,4,5
foo(a,b,c,d,e)

### **딕셔너리** 자료 처리 
* **kwargs 는 키워드 인자로 구성된 딕셔너리 
* ** 는 임의의 갯수를 갖는 키워드 인자를 전달함

In [ ]:
x = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}

In [ ]:
 def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [ ]:
personal_info(**x)

In [ ]:
x = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
personal_info(*x)

In [ ]:
def concat(**kwargs):
    result = ""
    # Iterating over the Python kwargs dictionary
    for arg in kwargs.values():
        result += arg
    return result

print(concat(var_1="Hey", var_2="Welcome", var_3="To", var_4="Techfitlab", var_5="!"))

## 변수 참조 범위와 전역변수
 
*   함수 avg()의 a와 b 는 함수 내에서만 참조함 
*   함수 밖의 a와 b는 함수 내부의 a와 b와 다른 변수임

In [ ]:
def avg():
    a = 0
    b = 0
    return (a + b) / 2

a = 80
b = 60

print ("Average = ", avg())
print ("Sum = ", a + b)

* 매개변수에 값 전달하여 문제해결하기

In [ ]:
def avg(a, b):
  return (a + b) / 2

a = 80
b = 60

print ("Average = ", avg(a,b))
print ("Sum = ", a + b)

## 자료 그룹핑하여 빈도 구하기

* scores 내의 점수를 10점 단위로 빈도수를 구하고자 한다
* 0 점에서 10점 단위로 10개의 구간(bin) 으로 하는 빈도 리스트 counters 를 사용한다
* scores 의 읽은 점수 s를 **정수 나누기** 하여 counters의 색인을 구하여 빈도를 갱신한다.

In [ ]:
def frequency (scores):
  counters = [ 0, 0, 0, 0, 0, 0, 0, 0, 0,0]
  for s in scores:
    counters[s//10] += 1
  return counters

* 연산자 // 대신 / 연산자를 사용하면 연산결과가 실수형이 되므로 인덱스로 사용할 수 없다
> list indices must be integers or slices, not float

In [ ]:
scores = [ 12, 51, 66, 77,8, 83, 88, 92 ]
c = frequency(scores)
print (c)

* 히스토그램으로 시각화하기

In [ ]:
import matplotlib.pyplot as plt
import numpy as np 

num = 10 
x = np.arange(num)
plt.xticks(range(num))
plt.yticks(range(num))
plt.hist(x, bins=range(num), weights=c, range=(x.min(), x.max()), alpha=0.75, )

## 재귀 함수 사용하기 

* 재귀함수(recursive function)는 함수 내부에서 함수자신을 호출하는 구조를 갖는다
*  재귀호출은 문제해결과정에서 자신과 똑같지만 크기가 다른 문제를 발견하고이들의 관계를 파악함으로써 문제 해결에 간명하게 접근하는 방식이다
* 재귀호출을 사용하려면 반드시 다음과 같이 종료 조건을 만들어주어야 하며 재귀 호출과정에서  return 은  함수 호출 부분에 함수의 수행 결과를 돌려줄 수 있다
---
(실습) 함수 hello()의 종료 조건을 찾아본다

In [ ]:
def fact(n):
    if n <= 1:
        return 1
    return n * fact(n-1)

In [ ]:
print (fact(5))

In [ ]:
def hello(c): # hello 함수를 정의
    if (c == 0):
       return 
    else:
       print ("Hello Python!")
       hello(c-1)

hello(5)

In [ ]:
def even(n):
  if n==0:
    return True
  return not even(n-1)

even(4)

In [ ]:
def sum_list(l):
  if len(l)==1:
    return l[0]
  return l[0]+sum_list(l[1:])

total = sum_list([1,2,3,4])
print (total)

자연수의 계승 또는 팩토리얼(factorial)은 그 수보다 작거나 같은 모든 양의 정수의 곱이다.

 $n! = n * n-1 * \cdots 3 * 2 * 1$

In [ ]:
def fact(n):
    if n <= 1:
        return 1
    return n * fact(n-1)

print (fact(5))

In [ ]:
def fact(n):
  if n==0 or n==1:
    return 1
  return n*fact(n-1)

피보나치 수열

* $fib(0) = 0, fib(1) = 1$
* 2 이상의 n에 대하여 $fib(n) = fib(n-1) + fib(n-2)$

In [ ]:
def fib(n):    #  함수 정의 시작 
    """Print a Fibonacci series up to n."""
    a, b = 1, 1
    print(a, end=' ')
    print(b, end=' ')
    while a < n:
       a, b = b, a+b
       print(b,  end=' ')

In [ ]:
def fib(num):
   if num < 2: 
     return num 
   else: 
     return fib(num-1)+fib(num-2)

In [ ]:
for i in range(1, 10+1):
   print(fib(i), end=' ')

**(실습)1에서 $n$까지 합구하기**

$1+2+\cdots+n$, $n$ =10

In [ ]:
def sum(n):
  if n == 1:
    return 1
  else:
    return n + sum(n-1)

In [ ]:
n = 10
print ("1에서 {0} 까지 합 = {1} ".format (n, sum(n)))

In [ ]:
def dec2bin(N):
  r = N % 2
  print ('*', end = ' ')
  if N >= 2:
    abc(N // 2)
  print ('%d' % r, end = ' ')
  return 

dec2bin(5)

**(실습)GCD 재귀함수**

1. 임의의 두 자연수 $x$, $y$가 주어졌을때. 둘중 큰 값이 a라고 가정 
2. $x$를 $y$로 나눈 나머지를 $n$ 이라고 하면 ($x \% y = n$)
3. n이 0일때,  $y$가 최대 공약수(GCD) 임, 만약 $n$이 0이 아니라면, $x$에 $y$값을 다시 넣고 $n$를 $y$에 대입 한 후 다시 2를 반복함

In [ ]:
def gcd(x, y):
  if y == 0:
    return x
  else:
    return gcd(y, x%y)

x = 16
y = 4
print (gcd (x,y))

### [피보나치 수열](https://colab.research.google.com/drive/1MFn5CJRj3CE3ewTJ-AJChrc38C6VVHtc)

In [ ]:
fact(5)

(검색) 자료 data 에서 key 를 찾는 함수 search_key()를 작성한다

In [ ]:
import random

# 0에서 199까지의 수로 구성된 lst를 생성함
lst = list (range(200))
# lst에서 임의로 100개를 선택하여 data를 생성함
data = random.sample(lst, 100)

# 검색결과로 arr에서 발견한 자료의 위치값(index)를 반환함
def search_key(arr, key):
    found = False
    for i, x in enumerate(arr):
         arr의 인덱스 i와 값 x 를 사용하여 key 값과 비교하여 key 값을 arr에서 발견하면 반복을 마침
    if found:
        return i
    else:
        return -1

key = 50
pos =  search_key(data, key)
if pos != -1:
    print (data[pos])
else:
    print ("not found")

In [ ]:
# 검색을 위한 자료를 생성하는 함수 generate_data()를 작성한다

# 자료구조

## 스택(stack)
* 한 쪽 끝에서만 자료를 넣거나 뺄 수 있도록 제한된 선형

In [ ]:
def push(s, item):
         s.append(item)

def pop(s):
    if (s != []):
        v = s.pop()
    else:
        v = -1
    return v
    
s = []
# 자료 삽입
push(s, 'a')
push(s, 'b')
push(s, 'c')
print (s)

# 자료 제거
print (pop(s))
print (pop(s))
print (pop(s))
print (pop(s))

In [ ]:
def dec2bin(decimal):
    s = []
    while decimal > 0:
         remainder = decimal % 2
         decimal = decimal // 2
         push(s, remainder)
         
    while s:
        x = pop(s)
        print (x, end = " ")
        
        
dec2bin(12)

## 큐(Queue)
* 가장 먼저 넣은 자료를 먼저 삭제함

In [ ]:
a = [1, 2, 3, 4, 5]
a.append(100)
a.append(200)
print (f"자료 추가 = {a}")
a.pop(0)
print (f"자료 삭제 = {a}")

In [ ]:
import queue

q = queue.Queue()
q.put('a')
q.put('b')
q.put('c')

print (f'size of queue = {q.qsize()}')

for _ in range(q.qsize()):
    if q.not_empty:
        print (f"value of queue = {q.get()}")

if (q.empty()):
    print ("queue is empyt")
else:
    q.get()

## 딕셔너리 
* immutable한 키(key)와 mutable한 값(value)으로 맵핑되어 있는 순서가 없는 집합
* 중괄호로 되어 있고 키와 값으로 구성

* 내용이 없는 딕셔너리 생성(Creating empty dictionary)

In [ ]:
Dictionary = {}
print(Dictionary)

* 정수키를 사용하여 딕셔너리 생성(Creating dictionary using integer keys)

In [ ]:
D = {1: 'lion', 2: 'tiger', 3: 'zebra'}
print(D)

* 다양항 자료형의 키를 갖는 딕셔너리 생성 (Creating dictionary using mixed keys)

In [ ]:
D = {'animal': 'tiger', 4: [1, 2, 3]}
print(D)

* Dict() 함수를 사용하여 딕셔너리 생성

In [ ]:
D = dict({1: 'lion', 2: 'tiger', 3: 'zebra'})
print(D)

* 딕셔너리 사용

In [ ]:
d = {"a" : 1, "b":2}
d['a']

In [ ]:
d = {1:'a', 2:'b', 3:'c'}

print (d.keys())
for x in d.keys():
  print(d[x])

In [ ]:
d[4] = 'd'
d

In [ ]:
d[3]

In [ ]:
d.get(3)

In [ ]:
d.get(4)

In [ ]:
d[5]

In [ ]:
x = d.get(5, "No Value")
print (x)

키가 없는 딕셔너리 자료 접근

In [ ]:
d[5]

In [ ]:
d.get(5)

* 키로는 immutable한 값은 사용할 수 있지만, mutable한 객체는 사용할 수 없음

In [ ]:
a = {(1,5): 5, (3,3): 3} # tuple사용

In [ ]:
for x in a.keys():
  print(a[x])

* 값은 중복될 수 있지만, 키가 중복되면 마지막 값으로 갱신됨

In [ ]:
{"a" : 1, "a":2}

In [ ]:
ex1={'a':1,'b':2, 'c': {'c1': 3} }

ex1['c']['c1']

In [ ]:
ex1.get('c').get('c1')

### (실습) 문자열 weather_info에서 습도값인 54을 얻기 위해 다음의 내용을 완성하시오.

In [ ]:
weather_info = '''
                 {"coord":{"lon":127.1522,"lat":36.8065},
                 "weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}],
                 "main":{"temp":301.25,"feels_like":302.1,"temp_min":300.88,"temp_max":301.94,"pressure":1019,"humidity":54},
                 "clouds":{"all":81},"dt":1633412609,"name":"Cheonan","cod":200}
                 '''

In [ ]:
type(weather_info)

In [ ]:
import json

result = json.loads(weather_info)
type(result)

In [ ]:
#  main 의 값을 얻도록 하자
w = result['weather']
print (type(w))
result['weather'][0]['main']

In [ ]:
result.keys()

In [ ]:
main_result = result['main']
main_result['humidity']
result['main']['humidity']
result.get('main').get('humidity')

## 튜플

```
t1 = ()
t2 = (1,) #  1개의 요소만을 가질 때는 요소 뒤에 콤마(,)를 반드시 붙여야 함
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', ‘cd'))
```

In [ ]:
t2=(1)
print (type (t2))

t2 = (1,)
print (type (t2))

In [ ]:
t4 = 1, 2, 3
print (type (t4))

In [ ]:
t5 = ('a', 'b', ('ab', 'cd'))
len(t5)

In [ ]:
t5[2][1]

In [ ]:
t5[2][0]

In [ ]:
t1 = ()
t2 = (1,) #  1개의 요소만을 가질 때는 요소 뒤에 콤마(,)를 반드시 붙여야 함
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

#t5 의 두번쨰 자료값을 얻기

t5[1]

t5[1] = 'c'

## 집합

In [ ]:
s1 = set ([1,2,3,4])
s1.add(4) # 중복 허락하기 않음
s1

In [ ]:
lst = [1,2,3, 4,1,2,3, 0]

# 리스트에서 중복제거하고자함 
lst = set (lst)
lst = list(lst)

## Collection 
* deque
* OrderedDict
* defaultdict
* Counter
* named tutple

### deque

In [ ]:
# 리스트 자료의 마지막에 자료 추가
import collections
deq = collections.deque(['a','b','c'])
deq.append('d')
print(deq)

In [ ]:
# 리스트 자료의 앞에 자료 추가
import collections
deq = collections.deque(['a','b','c'])
deq.appendleft('d')
print(deq)

In [ ]:
# 자료 삭제하기 (stack)
import collections
deq = collections.deque(['a', 'b', 'c'])
print('deque.pop() ->', end=' ')
while True:
    try:
        print(deq.pop(), end=' ')
    except IndexError:
        break
print()

In [ ]:
# 자료를 왼쪽에서 부터 삭제하기
deq = collections.deque(['a', 'b', 'c'])
print('deque.popleft() ->', end=' ')
while True:
    try:
        print(deq.popleft(), end=' ')
    except IndexError:
        break
print()

(실습)deque

In [ ]:
from collections import deque
double_queue = deque(["Monday", "Tuesday","Wednesday"])
print(double_queue)

In [ ]:
 double_queue.append("Thursday")
 print(double_queue)

In [ ]:
double_queue.appendleft("Sunday")
print (double_queue)

In [ ]:
from collections import deque

deq = deque()

# Add element to the start
deq.appendleft(10)
print (deq)

# Add element to the end
deq.append(0)
print (deq)
# Pop element from the start
deq.popleft()
print (deq)

# Pop element from the end
deq.pop()
print (deq)

### OrderedDict

In [ ]:
from collections import OrderedDict
d = OrderedDict()
d['x'] = 100
d['y'] = 200
d['z'] = 300
d['l'] = 500
for k, v in d.items():
    print(k, v)

In [ ]:
# 키의 순서에 따라 정렬
def sort_by_key(t):
    return t[0]

for k, v in OrderedDict(sorted(d.items(), key=sort_by_key)).items():
    print (k, v)

In [ ]:
# 키의 순서에 따라 정렬
from collections import OrderedDict

# 기본 딕셔너리 
d={'banana':3, 'apple':4, 'pear':1, 'orange':2}

# 키(key)를 기준으로 정렬한 OrderedDict
ordered_d1 = OrderedDict(sorted(d.items(), key=lambda t: t[0]))
print(ordered_d1)

In [ ]:
# 값의 순서에 따라 정렬
from collections import OrderedDict

# 기본 딕셔너리 
d={'banana':3, 'apple':4, 'pear':1, 'orange':2}

# 키(key)를 기준으로 정렬한 OrderedDict
ordered_d1 = OrderedDict(sorted(d.items(), key=lambda t: t[1]))
print(ordered_d1)

In [ ]:
# 마지막 자료 및 처음자료 얻기 
print (ordered_d1.popitem())
print (ordered_d1.popitem(last=False))

print (d)

In [ ]:
keys = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
vals = ['app', 'bow', 'cow', 'doc', 'err', 'fly', 'gpu']
d = {key: val for key, val in zip(keys, vals)}
print (d)
d ['h'] = 'high'
print (d)
d['i'] = 'ice'

print (d)

In [ ]:
from collections import OrderedDict
keys = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
vals = ['app', 'bow', 'cow', 'doc', 'err', 'fly', 'gpu']
d = OrderedDict({key: val for key, val in zip(keys, vals)})
print (d)

### (실습) 지역에 따른 날씨 정보를 얻은 후 온도에 따라 자료를 정렬함

In [ ]:
weather_info = {'cheonan': 16.86, 'seoul': 20.29, 'london': 7.88, 'busan': 17.08, 'paris': 6.82, 'tokyo': 19.8}

In [ ]:
from collections import OrderedDict
city_temp = OrderedDict(sorted(weather_info.items(), key=lambda t: t[1]))
print (city_temp)

### defaultdict

In [ ]:
# 존재하지 않는 키를 접근하는 경우 비정상적인 종료
ex1={'a':1,'b':2}
print(ex1)
print(ex1['c'])

In [ ]:
ex1.get('c')

In [ ]:
from collections import defaultdict
d = defaultdict(lambda: 0)
print (d['first'])

In [ ]:
from collections import defaultdict
d = defaultdict(int)
print (d['first'])

In [ ]:
# 각 알파벳 글자의 수를 세어서 사전에 저장해주는 함수
# counter 사전에 어떤 글자가 키(key)로 존재하지 않는 경우, 해당 키에 대한 기본값을 0으로 설정

def count_letters(word):
    counter = {}
    for letter in word:
        if letter not in counter:
            counter[letter] = 0
        counter[letter] += 1
    return counter

c = count_letters('hello')
print (c)

In [ ]:
# 파이썬의 사전(dictionary) 자료구조는 setdefault 함수를 제공하여 초기값을 지정함
def countLetters(word):
    counter = {}
    for letter in word:
        counter.setdefault(letter, 0)
        counter[letter] += 1
    return counter

c = count_letters('hello')
print (c)

In [ ]:
from collections import defaultdict

def countLetters(word):
    counter = defaultdict(int)
    for letter in word:
        counter[letter] += 1
    return counter

c = count_letters('hello')
print (c)

In [ ]:
# 단어의 길이를 키로 단어를 그룹핑함
from collections import defaultdict

def group_words(words):
    grouper = defaultdict(list)
    for word in words:
        length = len(word)
        grouper[length].append(word)
    return grouper

c = group_words(['hello', 'python', 'wolrd'])
print (c)

하나의 키를 여러 개의 값에 매핑

In [ ]:
portfolio = [
    ('GOOG', 100, 490.1),
    ('IBM', 50, 91.1),
    ('CAT', 150, 83.44),
    ('IBM', 100, 45.23),
    ('GOOG', 75, 572.45),
    ('AA', 50, 23.15)
]

from collections import defaultdict
holdings = defaultdict(list)
for name, shares, price in portfolio:
    holdings[name].append((shares, price))
holdings['IBM'] #

### Counter

In [ ]:
from collections import Counter
  
text = list("Hello Python")
c = Counter(text)
print (c)
print (c['l'])

In [ ]:
import collections
lst=['aa','cc','dd','aa','bb','ee', 'aa','dd']
print(collections.Counter(lst))

word_list = collections.Counter(lst)

word_list.most_common(3)

보유한 주식이 다음과 같을 때, 종목별로 합산한다

In [ ]:
portfolio = [
    ('GOOG', 100, 490.1),
    ('IBM', 50, 91.1),
    ('CAT', 150, 83.44),
    ('IBM', 100, 45.23),
    ('GOOG', 75, 572.45),
    ('AA', 50, 23.15)
]

from collections import Counter
total_shares = Counter()
for name, shares, price in portfolio:
    total_shares[name] += shares

total_shares['IBM']

In [ ]:
total_shares.most_common(3)

### (실습) 주어진 문자열에서 빈도수가 가장 높은 문자를 찾는다

In [ ]:
from collections import Counter
  
text = list("Helloo Python")
c = Counter(text)
print (c)
type(c)
print (c['l'])
result = c.most_common(1)[0]
print (result[0], result[1])

### named tuple
* 값(value)에 접근 가능한 기본 투플(basic tuple)과는 다르게 키(key)값으로 접근가능하도록 지원

In [ ]:
from collections import namedtuple
Point = namedtuple('Point', ['x', 'y'])
p = Point(x = 11, y =  22)

print (p.x, p.y)

In [ ]:
import collections

# namedtuple()
Person=collections.namedtuple("Person",'name age gender')
P1=Person(name='John',age=28,gender='남')
P2=Person(name='Sally',age=28,gender='여')
for n in [P1, P2]:
    print(n.name, n.age, n.gender)

In [ ]:
def calc(x, y):
    """두수를 입력받아 합, 곱, 나눈값을 반환한다 """
    return (x + y, x * y, x / y)

result = calc(3, 2)
print('곱셈결과:', result[1]) # 곱셈한 결과를 출력한다

In [ ]:
def calc(x, y):
    """두수를 입력받아 합, 곱, 나눈값을 반환한다 """
    return namedtuple(typename='return_calc', field_names=['sum', 'multiplication', 'division'])(x + y, x * y, x / y)

result = calc(3, 2)
print('곱셈결과:', result.multiplication) # 곱셈한 결과를 출력한다
print('곱셈결과:', result[1]) # 곱셈한 결과를 출력한다


튜플 (x, y) 로 점을 표현하며, 두점 pt1, pt2 간의 거리를 구한다

In [ ]:
pt1 = (1.0, 5.0)
pt2 = (2.5, 1.5)

from math import sqrt
line_length = sqrt((pt1[0]-pt2[0])**2 + (pt1[1]-pt2[1])**2)
print (line_length)

네임드 튜플로 점(Point)의 구성정보 x와 Y로 표현한다

In [ ]:
from collections import namedtuple
Point = namedtuple('Point', 'x y')
pt1 = Point(1.0, 5.0)
pt2 = Point(2.5, 1.5)

from math import sqrt
line_length = sqrt((pt1.x-pt2.x)**2 + (pt1.y-pt2.y)**2)

# Lambda 함수

* 이름이 없는 함수를 만들 수 있으며, 함수를 간편하게 작성할 수 있음
* filter(), map(), reduce() 함수와 같이 사용됨

> 임의의 숫자를 전달하여 전달받은 숫자에 10을 더해서 반환하는 함수 plus_ten는 다음과 같다

In [ ]:
def plus_ten(x):
    return x + 10
print (plus_ten(1))

* lambda에 매개변수를 지정하고 :(콜론) 뒤에 반환값으로 사용할 식을 지정함
>  람다 표현식은 기존의 함수 선언 문법과 달리 함수를 명명하지 않고도 정의

In [ ]:
lambda x: x + 10

* lambda로 만든 함수를 변수 plus_ten에 할당해 사용

In [ ]:
plus_ten = lambda x: x + 10
plus_ten(1)

### (실습) 짝수 판별 함수 is_even() 작성를 작성한다

In [ ]:
def is_even(x):
    return x % 2 == 0

print (is_even(1)) # False
print (is_even(20)) # True

In [ ]:
is_even = lambda x : x % 2 == 0
print (is_even(1)) # False
print (is_even(2)) # True

### (실습) x의 거듭제곱을 구하는 lambda 함수 mul 을 작성한다

In [ ]:
mul = lambda x : x**2

print (mul(2))

ylist = []
xlist = [1,2,3,4,5]
for x in xlist:
    y = mul(x)
    ylist.append(y)
    print (f"{y} = {x}**2")

print (ylist)

### (실습) 람다 함수로 리스트 다루기

3개의 매개변수를 갖고 처음 두개의 값을 더한후 결과를 반환하는 람다 함수

In [ ]:
my_function = lambda a, b, c : a + b
my_function(1, 2, 3)

# 맵리듀스

## **filter()**
* 주어진 조건에 따라 리스트 요소를 필터링하기 위해 사용하는 함수
* 리스트 또는 딕셔너리와 같은 iterable 한 데이터를 특정 조건에 일치하는 값만 추출해 낼때 사용

In [ ]:
lst =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = filter (lambda x: x % 2 == 0, lst)
print (list(result))

In [ ]:
target = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def is_even(n):
    return True if n % 2 == 0 else False

result = filter(is_even, target)
print(list(result))

In [ ]:
target = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

is_even = lambda x : x % 2 == 0
result = filter(is_even, target)
print(list(result))

In [ ]:
# 주어진 기온값에서 이상값 (-20 이하 값)을 찾아 제거함
temp = [3.6, 4.6, 3.3, 5.2, 4, -20, 1.8, -2.8, -2.4, -0.7, 1.5, 2.7, 3.3, -50,  23.0]

# 이상값 검출
is_anomaly = lambda x : x + 20 <= 0
result = filter(is_anomaly, temp)
print(list(result))

# 이상값 제거
is_not_anomaly = lambda x : x + 20 > 0
result = filter(is_not_anomaly, temp)
print(list(result))

## **map()** 

* map() 함수는 연속데이터를 저장하는 자료형의 각 원소마다 같은 기능을 적용하도록 함
* map()의 첫번째 인수는 함수, 두번째 인수는 리스트 데이터를 사용함
* 함수와 데이터를 입력 값으로 받고 각 데이터에 함수를 대응시켜 그 값을 반환하는 역할을 수행함 

* map은 원본 리스트를 변경하지 않고 새 리스트를 생성함
```
list(map(함수, 리스트))
tuple(map(함수, 튜플))
```


```

In [ ]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])

print (a)

In [ ]:
a = [1.2, 2.5, 3.7, 4.6]

# 반복가능한 iterable객체 a를 전달받아서, 각 요소에 함수 int를 적용함 
a = list(map(int, a))

print (a)

*lambda* 함수 사용

In [ ]:
def plus_ten(x):
    return x + 10

list(map(plus_ten, [1, 2, 3]))

In [ ]:
list(map(lambda x: x + 10, [1, 2, 3]))

In [ ]:
sqr = lambda x: x ** 2

sqr(10)

In [ ]:
result = list(map(sqr, range(5))) 
result

In [ ]:
result = list(map(sqr, [0,1,2,3,4])) 
result

In [ ]:
result = list(map(lambda x: x ** 2, range(5))) 
print(result)

In [ ]:
plus_ten = lambda x: x + 10
list(map(plus_ten, [1, 2, 3]))

In [ ]:
list(map(lambda x: x + 10, [1, 2, 3]))

### (실습) 함수 plus_two() map 적용

In [ ]:
# 1. 일반 함수 버전
def plus_two(x):
    return x + 2
 
result1 = list(map(plus_two, [1, 2, 3, 4, 5]))
print(result1)

In [ ]:
result2 = list(map((lambda x: x + 2), [1, 2, 3, 4, 5]))
print(result2)

### (실습) map을 사용한 입력 자료 처리

In [ ]:
# 10 20을 입력함
a = map(int, input().split()) # map object
a = list(a) # list로 변환
print (a)

### (실습) 리스트 등의 반복 가능한 객체를 여러 개 사용하여  두 리스트의 요소를 곱해서 새 리스트를 생성한다

In [ ]:
a = [1, 2, 3, 4, 5]
b = [2, 4, 6, 8, 10]
x = list(map(lambda x, y: x * y, a, b))
x

### (실습) 두개의 리스트의 값을 더하여 새 리스트를 생성한다

In [ ]:
x = list(map(lambda a,b: a+b, [1,2,3], [10,20,30]))
x

In [ ]:
import math
number=[1,2,3,4,5]
coefficients=[5,6,7,8,9]
list(map(math.pow, number, coefficients))

In [ ]:
def func_mul(x):
    return x * 2

result1 = list(map(func_mul, [5,4,3,2,1]))
print(f"map(일반함수, 리스트) : {result1}")

In [ ]:
result2 = list(map(lambda x: x *2, [5,4,3,2,1]))
print(f"map(람다함수, 리스트) : {result2}")

In [ ]:
import math # math 라이브러리 불러오기
radius_li = [1,3,5,7] # 반지름 리스트
def area(r):
    return math.pi * (r**2) # math.pi는 원주율값을 갖습니다.
list(map(area,radius_li))

In [ ]:
list(map(lambda x: math.pi * (x**2), radius_li))

In [ ]:
lst = ['a pple','ba nana','gr ape']
 
list(map(lambda x: x.replace(' ',''), lst)) 
# 출력: ['apple', 'banana', 'grape']

## reduce 함수
* 반복 가능한 객체의 각 요소를 지정된 함수로 처리한 뒤 이전 결과와 누적해서 반환하는 함수
> 반복 가능한 객체인 리스트의 처음 2개 요소에 함수를 적용 후 결과값을 3번째 요소에 적용, 하나의 요소만 남을 때 까지 반복 

```
from functools import reduce
reduce(함수, 반복가능한객체)
```

In [ ]:
def f(x, y):
    return x + y
a = [1, 2, 3, 4, 5]

from functools import reduce
reduce(f, a)

In [ ]:
# 10 20 30을 입력함
a = map(int, input().split()) # map object
a = list(a) # list로 변환
print (a)

from functools import reduce

print (reduce (lambda x, y: x + y, a))

실습
> 함수 f 를 list1의 각요소에 적용함
* reduce() 함수는 리스트와 같은 자료형에 차례대로 함수를 적용하여 모든 값을 통합함
* list1의 두개 원소를 x와 y에 각각 대입한 후 결과를 새롭게 대입한한후, list1의 다음 원소를 y에 대입하여 수행

In [ ]:
list1 = list(range(1,6))
print (list1)

In [ ]:
from functools import reduce

print (reduce (lambda x, y: x + y, list1))

> reduce()를 for문으로 재작성함

In [ ]:
x = 0
for y in list1:
    x += y
print (x)

# 예외처리

* 작성된 프로그램의 오류로 인해 비정상적인 종료와 같은 예상치 않은 결과가 발생하지 않도록 파이썬에서는 예외(exception)을 처리를 위한 구문을 제공
* 프로그램의 제어 흐름을 조정하기 위해 사용하는 이벤트를 예외라고 함 
* 파이썬에서는 예외에 대해 자동으로 에러를 발생시킴

In [ ]:
a = [10, 20, 30]
a[3]

> 배열의 크기를 넘은 인덱스를 참조하는 경우 비정상적인 종료 발생
*  잘 작성된 코드도 실행 중 오류(잠재적 결함)가 발생

## try - except 문
프로그램에서 에러가 발생했을 때, 에러를 핸들링하는 기능으로 try...except 문을 사용할 수 있음 
* try 블록,  프로그램에서 오류를 테스트하기 위한 영역  
* except 블록, 오류 발생시  예외 처리를 수행되는 영역
* finally 블록, 예외 처리와 관계없이 수행되는 영역 (선택적으로 사용)

In [ ]:
bar = 100
del bar

In [ ]:
print (bar)

In [ ]:
try:
  print (bar)
except:
  print("오류 발생, foo가 정의되어 있지 않음")

* try 블럭 내의 어느 문장에서 에러가 발생하면, except 문으로 이동하고 예외 처리를 할 수 있음 
* try 문은 또한 finally 문을 가질 수도 있는데, finally 블럭은 try 블럭이 정상적으로 실행되든, 에러가 발생하여 except 블럭이 실행되든 상관없이 항상 마지막에 실행됨 


> 입력받은 값을 변수 x에 저장한 후 x의 값으로 10을 나누었을 때  **0으로 나누었을 때 발생하는 예외** 
가 발생
* x의 값이 0인 경우  ZeroDivisionError 예외가 발생하며  except 블록에서 예외 처리가 이루짐
* 이 과정에서 y = 10 / x 문장을 수행되지 않음

In [ ]:
def ten_div(x):
    return 10 / x

ten_div(5)
ten_div(0) # 0을 넣으면 실행하는 중에 에러가 발생

In [ ]:
try:
    x = int(input('나눌 숫자 입력: '))
    y = 10 / x
    print(y)
except:    # 예외가 발생했을 때 실행됨
    print('0 나누기 예외가 발생')

 * 입력된 값이 정수이면 올바른 정수값이 입력하였음을 출력한다. 단, 유효하지 않은 정수값에 대해서는 예외를 처리하여야 한다

In [ ]:
while True:
   try:
      n=input("정수값을 입력하시오: ")
      n=int(n)
      break
   except:
      print("유효한 정수가 아닙니다! 다시 입력하시요.")
print("올바른 정수값 {}을 입력하셨습니다. ".format(n))

try - else 블록에서 else 블록은 예외가 발생하지 않는 경우 수행된다

In [ ]:
try:
    print("Hello")
except:
    print("Something went wrong")
else:  
    # 예외가 발생하지 않을 경우, 수행할 문장   
    print("Nothing went wrong")

try - finally 블록은 try 블록에서 오류가 발생하거나 발생하지 않았거나 항상 실행된다

In [ ]:
x = 5
try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

입력받은 값을 변수 x에 저장한 후 x의 값으로 10을 나누었을 때  예외가 발생하면 pass를 사용하여 예외처리를 회피한다
> y를 0으로 나눈 경우 except 블록에 의해 예외처리가 회피된다.

In [ ]:
try:
    x = int(input('나눌 숫자 입력: '))
    y = 10 / x
    print(y)
except:    # 예외가 발생했을 때 실행됨
    pass

raise 문은 프로그래머가 지정한 예외가 발생하도록 강제함

In [ ]:
try:
    x = int(input('나눌 숫자 입력: '))
    if x ==  0:
       raise ZeroDivisionError

    y = 10 / x
    print(y)
except ZeroDivisionError:    # 예외가 발생했을 때 실행됨
    print('0 나누기 예외가 발생')

예외를 발생시킬 때는 raise에 예외를 지정하고 에러 메시지를 지정할 수 있다

In [ ]:
try:
    x = int(input('나눌 숫자 입력: '))
    if x ==  0:
       raise Exception('0으로 나누기 오류')
    y = 10 / x
    print(y)
except Exception as e:    # 예외가 발생했을 때 실행됨
    print(e)

주어진 리스트 [ 10, 20, 30, 40, -1] 에서 자료값에 0보다 작은 값을 갖는 경우 비정상적인 값으로 처리하기 위해 예외를 발생시켜 처리를 하도록 한다. 해당 예외처리 시 "-1 : wrong number "을 예외의 내용으로 출력하도록 한다

In [ ]:
lst = [ 10, 20, 30, 40, -1]

for x in lst:
    if x < 0:
        raise Exception(f"{x} : wrong number")

In [ ]:
lst = [ 10, 20, 30, 40, -1]

try:
    for x in lst:
        if x < 0:
            raise Exception(f"{x} : wrong number")
except Exception as e:
    print (e)

In [ ]:
class raiseeError(Exception):
    def __init__(self, message='숫자가 아닙니다.'):
        self.message = message

    def __str__(self):
        return 'raiseeError : ' + self.message

In [ ]:
while True:
    value = input("변환할 정수 값을 입력해 주세요: ")
    for digit in value:
        if digit not in "0123456789":
             raise raiseeError("숫자를 입력하지 안았습니다.")
    print("정수값으로 변환할 숫자 : ",  int(value))

In [ ]:
while True:
    value = input("변환할 정수 값을 입력해 주세요: ")
    if value = '-1':
        break
    try:
        for digit in value:
            if digit not in "0123456789":
                 raise raiseeError("숫자를 입력하지 안았습니다.")
                 print("정수값으로 변환할 숫자 : ",  int(value))
    except raiseeError as e:
        print (e)

# 딕셔너리 
* immutable한 키(key)와 mutable한 값(value)으로 맵핑되어 있는 순서가 없는 집합
* 중괄호로 되어 있고 키와 값으로 구성

In [ ]:
d = {"a" : 1, "b":2}
d['a']

In [ ]:
d = {1:'a', 2:'b', 3:'c'}
for x in d.keys():
  print(d[x])

In [ ]:
d[4] = 'd'
d

In [ ]:
d.get(4)

키가 없는 딕셔너리 자료 접근

In [ ]:
d[5]

In [ ]:
d.get(5)

* 키로는 immutable한 값은 사용할 수 있지만, mutable한 객체는 사용할 수 없음

In [ ]:
a = {(1,5): 5, (3,3): 3} # tuple사용

In [ ]:
for x in a.keys():
  print(a[x])

* 값은 중복될 수 있지만, 키가 중복되면 마지막 값으로 갱신됨

In [ ]:
{"a" : 1, "a":2}

In [ ]:
ex1={'a':1,'b':2, 'c': {'c1': 3} }

ex1['c']['c1']

# Collection 
* deque
* OrderedDict
* defaultdict
* Counter
* named tutple

## deque

In [ ]:
# 리스트 자료의 마지막에 자료 추가
import collections
deq = collections.deque(['a','b','c'])
deq.append('d')
print(deq)

In [ ]:
# 리스트 자료의 앞에 자료 추가
import collections
deq = collections.deque(['a','b','c'])
deq.appendleft('d')
print(deq)

In [ ]:
# 자료 삭제하기 (stack)
import collections
deq = collections.deque(['a', 'b', 'c'])
print('deque.pop() ->', end=' ')
while True:
    try:
        print(deq.pop(), end=' ')
    except IndexError:
        break
print()

In [ ]:
# 자료를 왼쪽에서 부터 삭제하기
deq = collections.deque(['a', 'b', 'c'])
print('deque.popleft() ->', end=' ')
while True:
    try:
        print(deq.popleft(), end=' ')
    except IndexError:
        break
print()

(실습)deque

In [ ]:
from collections import deque
double_queue = deque(["Monday", "Tuesday","Wednesday"])
print(double_queue)

In [ ]:
 double_queue.append("Thursday")
 print(double_queue)

In [ ]:
double_queue.appendleft("Sunday")
print (double_queue)

## OrderedDict

In [ ]:
from collections import OrderedDict
d = OrderedDict()
d['x'] = 100
d['y'] = 200
d['z'] = 300
d['l'] = 500
for k, v in d.items():
    print(k, v)

In [ ]:
# 키의 순서에 따라 정렬
def sort_by_key(t):
    return t[0]

for k, v in OrderedDict(sorted(d.items(), key=sort_by_key)).items():
    print (k, v)

In [ ]:
# 키의 순서에 따라 정렬
from collections import OrderedDict

# 기본 딕셔너리 
d={'banana':3, 'apple':4, 'pear':1, 'orange':2}

# 키(key)를 기준으로 정렬한 OrderedDict
ordered_d1 = OrderedDict(sorted(d.items(), key=lambda t: t[0]))
print(ordered_d1)

In [ ]:
# 값의 순서에 따라 정렬
from collections import OrderedDict

# 기본 딕셔너리 
d={'banana':3, 'apple':4, 'pear':1, 'orange':2}

# 키(key)를 기준으로 정렬한 OrderedDict
ordered_d1 = OrderedDict(sorted(d.items(), key=lambda t: t[1]))
print(ordered_d1)

In [ ]:
# 마지막 자료 및 처음자료 얻기 
print (ordered_d1.popitem())
print (ordered_d1.popitem(last=False))

print (d)

(실습) 지역에 따른 날씨 정보를 얻은 후 온도에 따라 자료를 정렬함

## defaultdict

In [ ]:
# 존재하지 않는 키를 접근하는 경우 비정상적인 종료
ex1={'a':1,'b':2}
print(ex1)
print(ex1['c'])

In [ ]:
ex1.get('c')

In [ ]:
from collections import defaultdict
d = defaultdict(lambda: 0)
print (d['first'])

In [ ]:
from collections import defaultdict

def default_value():
    return "Not Present Yet"

mydict = defaultdict(lambda: "Not Present Yet" )
#mydict = defaultdict(default_value)

mydict["cat"] = 2
mydict["dog"] = 4
print(mydict["cat"])
print(mydict["dog"])

print (mydict['python'])

## Counter

[활용 사례](https://colab.research.google.com/drive/18RY0gKO7BkA6LaIgXFcamwUQIluwsLjS)

In [ ]:
from collections import Counter
  
text = list("Hello Python")
c = Counter(text)
print (c)
print (c['l'])

## named tuple

In [ ]:
from collections import namedtuple
Point = namedtuple('Point', ['x', 'y'])
p = Point(11, y =  22)

print (p.x, p.y)

In [ ]:
import collections

# namedtuple()
Person=collections.namedtuple("Person",'name age gender')
P1=Person(name='Jhon',age=28,gender='남')
P2=Person(name='Sally',age=28,gender='여')
for n in [P1, P2]:
    print(n.name, n.age, n.gender)

# 내장함수  zip() 
여러 개의 순회 가능한(iterable) 객체를 인자로 받고, 각 객체가 담고 있는 원소를 튜플의 형태로 차례로 접근할 수 있는 반복자(iterator)를 반환

In [ ]:
list_1 = [1, 2, 3]
list_2 = ['one', 'two', 'tree']
list(zip(list_1, list_2))

* 길이가 다른 리스트의 zip() 함수 사용

In [ ]:
list_1 = [1, 2, 3, 4, 5] # 5 elements
list_2 = ['one', 'two', 'tree'] # Only 3 elements
list(zip(list_1, list_2))

In [ ]:
grades = ["High", "Medium", "Low"]
values = [0.75, 0.50, 0.25]

print (*zip(grades, values))

for grade, value in zip(grades, values):
    print("{}% {}".format(value * 100, grade))

# 모듈
* 비슷한 함수와 클래스를 작성한다면 코드가 길어지고 중복되는 부분이 생김 
* 공통되는 부분을 빼내서 모듈(module)과 패키지(package)로 구 성함 
* 코드를 다시 만들지 않고 모듈과 패키지만 가져와서 사용하면 편리함 
* 모듈은 간단한 기능을 담을 때 사용하며, 패키지는 코드가 많고 복잡할 때 사용 

```
# mod.py
def add(a, b): 
    return a + b 
def sub(a, b): 
    return a-b 
```

In [ ]:
# test_mod.py 
import mod 
print(mod.add(3, 4))

from import로 변수와 함수를 가져온 뒤 모듈 이름을 붙이지 않고 사용(모듈함수 활용)

In [ ]:
from mod import add
print(add(3, 4))

#클래스와 객체 

* 클래스를 정의하기 위해서는 class 키워드를 작성한 후 class 이름 ClassName을 기술한다. 이후 속성(attribute)과 메소드(method)를 문장 statement를 기술한다
* class 키워드 다음에는 클래스 이름과 콜론(:)이 위치하며, 클래스이름은 관례적으로 첫글자를 대문자로 사용한다
* 클래스는 파이썬 프로그램 어디에서나 정의 할 수 있음  
* 클래스의 객체(인스턴스) 생성시 생성자 $__init__()$ 가 수행됨  

```
Class my_class:
 Statement1
 Statement2
 ..........
 ..........
 Statement_n
 ```

In [ ]:
class Cat:
    def __init__(self, name, color="white"):
        self.name = name
        self.color = color

    def __str__(self):
        return (f"Cat name {self.name}, Cat colore {self.color}")
    
    def meow(self):
        print (f"{self.name} speek Meow!")

nabi = Cat("nabi", "white") 
nabi.meow()
print (nabi)

nero = Cat("nero", "black")
nero.meow()
print (nero)

mini = Cat ("mini")
mini.meow()
print (mini)

In [ ]:
class MyClass:
    pass

In [ ]:
class MyClass:
    def __init__(self, a, b):
        self.a = a
        self.b = b

n = MyClass("Python", "Tutorial")

print(n.a)
print(n.b)

In [ ]:
class MyClass:
    def __init__(self, a, b):
        self.__a = a
        self.__b = b
        
    def __str__(self):
        return 'Cat(name='+self.__a+', age='+str(self.__b)+')'


n = MyClass("Python", "Tutorial")

print (n)

캡슐화encapsulation
* 정보은익
* 메소드와 변수를 외부에서 함부로 조작하는 것을 제한
* 데이터를 보호
* 우연히 값이 변경되는 것을 방지

In [ ]:
class MyClass:
    def __init__(self, a, b):
        self.__a = a
        self.__b = b

    def set_a(self, a):
        self.__a = a

    def get_a(self):
        return self.__a

    def __str__(self):
        return 'Cat(name='+self.__a+', age='+str(self.__b)+')'

n = MyClass("Python", "Tutorial")
n.set_a("Programming")
print (n.get_a())

In [ ]:
class MyClass:
    def __init__(self, a, b):
        self.__a = a
        self.__b = b

    def set_a(self, a):
        if a in ['Python', 'Java', "C", "C++"]:
            self.__a = a
            

    def get_a(self):
        return self.__a

    def __str__(self):
        return 'Cat(name='+self.__a+', age='+str(self.__b)+')'

n = MyClass("Python", "Tutorial")

value = "Programming"
n.set_a(value)
if n.get_a() != value:
    print ("Wrong value")

print (n.get_a())

Cat 클래스

In [ ]:
class Cat:
    def __init__(self, name, color):
        self.name = name
        self.color = color

    def __str__(self):
        return 'Cat(name='+ self.name+', color='+self.color+ ')'

    def set_age(self, age): 
        if age > 0:
            self.__age = age
        else:
            self.__age = "Wrong value"
            
    def get_age(self):
        return self.__age


nabi = Cat('나비', '검정색') 
nero = Cat('네로', '흰색') 

# print (nabi.__age) # 외부에서 속성을 접근할 수 없음

nabi.set_age(5)
print (nabi.get_age())

nero.set_age(-5)
print (nero.get_age())

Circle 클래스 작성

In [ ]:
class Circle:
    def __init__(self, name, radius, PI):
        self.name = name
        self.radius = radius
        self.PI = PI

    # 현재 인스턴스의 PI에 반지름**2 을 곱하여 면적을 구함
    def area(self):
        return self.PI * self.radius ** 2

c1 = Circle("C1", 4, 3.14)
print("c1의 면적:", c1.area())
c2 = Circle("C2", 6, 3.141)
print("c2의 면적:", c2.area())
c3 = Circle("C3", 5, 3.1415)
print("c3의 면적:", c3.area())

클래스 변수class variable

* 인스턴스 변수들 중에서 클래스가 공유해야 할 공통적인 속성이 있는 경우 사용
* PI을 개별 인스턴스가 모두 공유하여 가지도록 하면 데이터 중복도 줄일 수 있음  
* setter와 getter 로 radius 갭슐화

In [ ]:
class Circle:
    PI = 3.1415      # 클래스 변수
    def __init__(self, name, radius):
        self.__name   = name   # 인스턴스 변수
        self.__radius = radius # 인스턴스 변수

    def set_redius(self, radius):
        self.__radius = radius # 인스턴스 변수
    def get_radius(self):
        return self.__radius

    # Circle 클래스의 변수 PI를 이용하여 면적을 구함
    def area(self):
        return Circle.PI * self.__radius ** 2

print ("PI 값 ", Circle.PI)
c1 = Circle("C1", 4)
print (f"c1 의 반지름 = {c1.get_radius()}")
c1.set_redius(10)
print (f"c1 의 반지름 = {c1.get_radius()}")

print("c1의 면적:", c1.area())
 
c1.set_redius(5)
print("c1의 반지름 :", c1.get_radius())
print("c1의 면적:", c1.area())

클래스와 특수 메소드

In [ ]:
class Vector2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y

v1 = Vector2D(30, 40)
v2 = Vector2D(10, 20)
v3 = v1 + v2   # Vector2D의 + 연산이 정의되지 않았다:오류 출력
print('v1 + v2 = ',v3)

v1.add(v2)는 두 벡터의 합을 출력

In [ ]:
class Vector2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def __str__(self):
        return "({}, {})".format(self.x, self.y)
    def add(self, other):
        return Vector2D(self.x + other.x, self.y + other.y)

v1 = Vector2D(30, 40)
v2 = Vector2D(10, 20)
v3 = v1.add(v2)              # Vector2D의 add() 메소드 사용
print('v1.add(v2) =', v3)

In [ ]:
n1 = 100
# + 연산자를 호출하면 호출되어지는 메소드 (함수) __add__
n3 = n1.__add__(200)
n3

In [ ]:
type (n1)

* add() 메소드 대신에 +, -와 같은 연산자를 사용하면 보다 편리
* $__add__()$ 에는 두 벡터의 합을 구하는 기능을 구현하고, $__sub__()$ 에는 두 벡터의 차를 구하는 기능을 구현
* v1 + v2는 v1.$__add__(v2)$와 같은 메소드 호출과 동일한 기능

In [ ]:
class Vector2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def __add__(self, other):
        return Vector2D(self.x + other.x, self.y + other.y)
    def __sub__(self, other):
        return Vector2D(self.x - other.x, self.y - other.y)
    def __str__(self):
        return "({}, {})".format(self.x, self.y)

v1 = Vector2D(30, 40)
v2 = Vector2D(10, 20)
v3 = v1 + v2
print('v1 + v2 =', v3)
v4 = v1 - v2
print('v1 - v2 =', v4)

(실습) Dog 클래스

In [ ]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [ ]:
d = Dog('Hush', 5)

In [ ]:
class Dog:
    # Class attribute
    species = "Canis familiaris"

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def speak(self, sound):
        return f"{self.name} says {sound}"

    def __str__(self):
      return f"{self.name} is {self.age} years old"

In [ ]:
d = Dog('Hush', 5)
print (d.species)
print (d)

## Decorator 사용하기 
* 데코레이터는 장식하다, 꾸미다의 의미를 가짐
* @staticmethod, @classmethod, @abstractmethod 으로 @로 시작하는 것들이 데코레이터임

```
class Calc:
    @staticmethod    # 데코레이터
    def add(a, b):
        print(a + b)

* staticmethod 사용하기

In [ ]:
class Student:
    name = 'unknown' # class attribute
    
    def __init__(self):
        self.age = 20  # instance attribute

    @staticmethod
    def tostring():
        print('Student Class')

In [ ]:
Student.tostring()

In [ ]:
std = Student()
std.tostring()

In [ ]:
# 오류 원인찾기
class Student:
    name = 'unknown' # class attribute
    
    def __init__(self):
        self.age = 20  # instance attribute

    @staticmethod
    def tostring():
        print('name=',name,'age=',self.age)

Student.tostring()

* Employee 클래스 작성하기

In [ ]:
from datetime import datetime

class Employee:
    def __init__(self, name, year_joined):
        self.name = name
        self.year_joined = year_joined

    def calc_year(self, year_joined, year_now):
        length = year_now - year_joined
        if length > 0:
            return f'{length} years'
        else:
            return 'less than one year'

    def seniority(self):
        n_years = self.calc_year(self.year_joined, datetime.now().year)
        print(f'{self.name} has worked in our company for {n_years}')

In [ ]:
e1 = Employee('Chris', 2020)
e1.seniority()

> calc_year() method doesn’t actually need an instance of the class to work

In [ ]:
def calc_year(year_joined, year_now):
    length = year_now - year_joined
    if length > 0:
        return f'{length} years'
    else:
        return 'less than one year'


class Employee:
    def __init__(self, name, year_joined):
        self.name = name
        self.year_joined = year_joined

    def seniority(self):
        n_years = calc_year(self.year_joined, datetime.now().year)
        print(f'{self.name} has worked in our company for {n_years}')

In [ ]:
e1 = Employee('Chris', 2020)
e1.seniority()

* staticmethod 는 클래스에서 직접 접근하며, 객체별로 달라지는 것이 아니라 함께 공유하는 유틸리티 
메소드에 활용
>utility method
* It cannot have **cls** or **self** parameter
* staticmethod는 클래스 내에 정의된 함수에 대해 클래스에서 바로 호출할 수 있음

In [ ]:
class Employee:
    def __init__(self, name, year_joined):
        self.name = name
        self.year_joined = year_joined

    @staticmethod
    def calc_year(year_joined, year_now):
        length = year_now - year_joined
        if length > 0:
            return f'{length} years'
        else:
            return 'less than one year'

    def seniority(self):
        n_years = self.calc_year(self.year_joined, datetime.now().year)
        print(f'{self.name} has worked in our company for {n_years}')

In [ ]:
e1 = Employee('Chris', 2020)
e1.seniority()

In [ ]:
import re

class Employee:
    def __init__(self, name, year_joined):
        self.name = name
        self.year_joined = year_joined

    @classmethod
    def from_string(cls, string):
        name = re.search('I am (.*?) ', string).group(1)
        year_joined = int(re.search('joined in (\d+).', string).group(1))
        return cls(name, year_joined)

    @staticmethod
    def calc_year(year_joined, year_now):
        length = year_now - year_joined
        if length > 0:
            return f'{length} years'
        else:
            return 'less than one year'

    def seniority(self):
        n_years = self.calc_year(self.year_joined, datetime.now().year)
        print(f'{self.name} has worked in our company for {n_years}')

In [ ]:
e1 = Employee.from_string('I am Chris and I joined in 2020.')
e1.seniority()

객체 생성하지 않고 클래스 메소드 사용하기

In [ ]:
Employee.from_string('I am Chris and I joined in 2020.').seniority()

In [ ]:
class Employee:
    def __init__(self, name):
        self.name = name
    @property
    def year_joined(self):
        print('getting year_joined...')
        return self._year_joined
    @year_joined.setter
    def year_joined(self, value):
        print('setting year_joined...')
        self._year_joined = value
    @year_joined.deleter
    def year_joined(self):
        print('deleting year_joined...')
        del self._year_joined

In [ ]:
e1 = Employee('Chris')
e1.year_joined = 2020
e1.year_joined

In [ ]:
del e1.year_joined
e1.__dict__

## (실습) Person 클래스 
* 객체 생성하지 않고 클래스 메소드 사용하기

In [ ]:
from datetime import date

# random Person
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    @staticmethod
    def printName(name,birthYear):
        print(name + "'s birthYear is: " + str(birthYear))
    
    @staticmethod
    def fromBirthYear(name, birthYear):
        return Person(name, date.today().year - birthYear)

    def display(self):
        print(self.name + "'s age is: " + str(self.age))

Person.printName('John',  1985)
Person.fromBirthYear('John',  1985).display()

## 상속

In [ ]:
class Bulldog(Dog):
    pass

In [ ]:
jim = Bulldog("Jim", 5)

print(jim)

In [ ]:
jim.speak("Woof")

## (실습) 계산기 클래스 작성하기

In [ ]:
class Calculator:
    def __init__(self, n1, n2):
        self.num1 = n1
        self.num2 = n2
        
    def setdata(self, n1, n2):
        self.num1 = n1
        self.num2 = n2

In [ ]:
a=Calculator(2,4)

In [ ]:
print (a.num1)
print (a.num2)

In [ ]:
class Calculator:
    def __init__(self, n1, n2):
        self.num1 = n1
        self.num2 = n2
    def __str__(self):
        return (f"(Calculator) num1 = {self.num1}, num2 = {self.num2}")

a=Calculator(2,4)

print (a)

> Calculator 의 새로운 c2 객체가 생성된 후 setData()를 호출할 때 20은 n1에 10은 n2에 전달함으로써 객체의 속성 num1과 num2의 내용이 변경되게 된다.

In [ ]:
class Calculator:
    def __init__(self,n1,n2):
        self.num1=n1
        self.num2=n2

    def __str__(self):
        return (f"(Calculator) num1 = {self.num1}, num2 = {self.num2}")        
        
    def setData(self, n1, n2):
        self.num1=n1
        self.num2=n2

In [ ]:
c2=Calculator(10,20)
c2.setData(20,10)
c2.num1

In [ ]:
class Calculator:
    def __init__(self,n1,n2):
        self.num1=n1
        self.num2=n2

    def __str__(self):
        return (f"(Calculator) num1 = {self.num1}, num2 = {self.num2}")  
        
    def setData(self, n1, n2):
        self.num1=n1
        self.num2=n2
        
    def add(self):
        return self.num1+self.num2

> 객체 a에 4와 2를 setData() 함수를 사용한 후 설정한 후  객체 a에 설정된 값의 합을 구하기 위해 add() 메소드 호출한다.

In [ ]:
a=Calculator(0,0)
a.setData(2,4)
print(a.add())

(실습) 함수 sub()는 객체가 갖는 num1에서 num2를 빼기 연산을 수행하도록 작성함

(실습) 다음은 div() 메소드 호출과정에서 발생한 오류를 보인 것이다. 원인을 찾아 이유를 설명하시오.

In [ ]:
class Calculator:
    def __init__(self,n1,n2):
        self.num1=n1
        self.num2=n2
        
    def __str__(self):
        return (f"(Calculator) num1 = {self.num1}, num2 = {self.num2}")  
        
    def setData(self, n1, n2):
        self.num1=n1
        self.num2=n2
        
    def add(self):
        return self.num1+self.num2
    
    def div(self):
        return self.num1/self.num2

In [ ]:
a=Calculator(0,0)
a.setData(10,0)
print(a.div())

## (실습) Die 클래스를 작성하기
* Die 클래스는 생성자를 통해 주사위 눈의 최대값을 입력받는다
* Die 클래스에서 생성자 roll() 함수는 주사위의 눈을 1에서 6까지의 생성하여 값을 number에 지정하도록 한다.
*  show() 함수는 주사위의 번호를 반환한다. 
* 객체 인스턴스 die1를 생성한 후 roll() 함수를 호출하고 주사위 번호를 출력하기 위해 show() 호출한다.

In [ ]:
import random
class Die(object): 
    def __init__(self, x):
        self.number = x
        
    def roll(self):
       self.number =  1 + random.randrange(6)
       return self.number
       
    def show(self):
       return self.number

die1 = Die(6)
print (die1.number)
num_lst = []
count = 100
for _ in range(count):
    num = die1.roll()
    num_lst.append(num)
    #print (die1.show())

print (f"avg = {int(sum(num_lst)/len(num_lst))}")

* getter 와 setter 사용하기

In [ ]:
import random
class Die(object): 
    def __init__(self, x):
        self.__number = x
        
    def roll(self):
       self.__number =  1 + random.randrange(6)
       return self.__number
       
    def show(self):
       return self.__number

die1 = Die(6)
print (die1.show())
num_lst = []
count = 100
for _ in range(count):
    num = die1.roll()
    num_lst.append(num)
    #print (die1.show())

print (f"avg = {int(sum(num_lst)/len(num_lst))}")

## 이터레이터 생성하기

* 순서대로 다음 값을 리턴할 수 있는 객체
* 자체적으로 내장하고 있는 next 메소드를 통해 다음 값을 가져옴
> 값을 하나씩 반환하고 값이 없으면 $StopIteration$ 예외를 발생시킴


* $Counter$ 클래스에서는 0부터 지정된 숫자 self.stop 직전까지 반복
* $__init__$ 에서는 반복 과정에서 현재 숫자를 유지하기 위한 속성 self.current을 0으로 초기화 
* $__iter__$ 에서는 self만 반환함
* $__next__$ 에서는 조건에 따라 숫자를 만들어내거나 StopIteration 예외를 발생
> 종료 값보다 현재 값이 작다면 현재 값에 1을 더하고 그 값을 반환

In [ ]:
class Counter:
    def __init__(self, stop):
        self.current = 0    # 현재 숫자 유지, 0부터 지정된 숫자 직전까지 반복
        self.stop = stop    # 반복을 끝낼 숫자
 
    def __iter__(self):
        return self         # 현재 인스턴스를 반환
 
    def __next__(self):
        if self.current < self.stop:    # 현재 숫자가 반복을 끝낼 숫자보다 작을 때
            r = self.current            # 반환할 숫자를 변수에 저장
            self.current += 1           # 현재 숫자를 1 증가시킴
            return r                    # 숫자를 반환
        else:                           # 현재 숫자가 반복을 끝낼 숫자보다 크거나 같을 때
            raise StopIteration         # 예외 발생
 
for i in Counter(3):
    print(i, end=' ')

## (실습) Doubled 클래스 작성하기

In [ ]:
class Doubled:
    def __init__(self, data):
        self.length = len(data)
        self.data = data
        self.index = 0
        
    def __iter__(self):
        return self
        
    def __next__(self):
        if self.index == self.length:
            raise StopIteration
        result = self.data[self.index] * 2
        self.index += 1
        return result
        
        
my_list = [1, 2, 3, 4, 5]
doubled = Doubled(my_list)

try:
    while True:
        print(next(doubled))
        
except StopIteration:
    print("Completed")

# 파일

Use “with” for your resources :

* https://python.plainenglish.io/5-amazing-tricks-to-enhance-your-python-code-6bee03b51056

In [ ]:
f = open('Hi.text', 'w')
try:
    f.write('Hello, there')
finally:
    f.close()

In [ ]:
# try-finally 를 with 문으로 대치
with open('Hi.text', 'w') as f:
    f.write("Hello, there")

In [ ]:
class My_file:
    def __init__(self, fname):
        self.fname = fname

    def __enter__(self):
        self.file = open(self.fname, 'w')
        return self.file

    def __exit__(self, exc_type, exc_val, exc_trace_back):
        if self.file:
            self.file.close()

In [ ]:
with My_file('hello.txt') as f:
    f.write('hello, world!')

# numpy

In [ ]:
import numpy as np

In [ ]:
np.__version__

In [ ]:
mylist = [1, 2, 3]
x = np.array(mylist)
x

In [ ]:
y = np.array([4, 5, 6])
y

다차원 배열을 생성

In [ ]:
m = np.array([[7, 8, 9], [10, 11, 12]])
m

In [ ]:
m.shape

arange 함수는 주어진 범위에서 2씩 증가된 값을 반환함

In [ ]:
n = np.arange(0, 30, 2) # start at 0 count up by 2, stop before 30
n

linspace 주어진 범위의 동일간 간격의 값을 반환

In [ ]:
x = np.linspace(0, 4, 9) # return 9 evenly spaced values from 0 to 4
x

In [ ]:
np.random.random(s) 크기가 s인 배열을 생성, 배열은 0과 1사이의 랜덤값이 지정됨

In [ ]:
y = np.random.random(len(x))
y

In [ ]:
import matplotlib.pyplot as plt

plt.plot(x,y)
plt.show()

In [ ]:
resize 주어진 shape 으로 배열의 크기를 조정함

In [ ]:
o.resize(3, 3)
o

Combining Arrays

In [ ]:
p = np.ones([2, 3], int) # datatype passed to get those datatype values in the numpy array
p

vstack to stack arrays in sequence vertically  수직으로 배열을 순차적으로 쌓음

In [ ]:
np.vstack([p, 2*p])

hstack arrays in sequence horizontally (column-wise) 수평으로 배열을 순서적으로 쌓음

In [ ]:
np.hstack([p, 2*p])

In [ ]:
a = np.array([-4, -2, 1, 3, 5])

In [ ]:
a.sum()
a.max()
a.min()
a.mean()
a.std()

In [ ]:
# argmax and argmin return the index of the maximum and minimum values in the array.
a.argmax()
a.argmin()

(실습) 1부터 100 사이의 난수를 10회 생성하여 합계(sum)와 평균(average)을 구하여 출력한다.

In [ ]:
import random
import numpy as np

def stat(inputList):
   s = np.sum(inputList) 
   a = np.average(inputList) 
   return s, a

def getInput(inputList, n):
  for i in range(n):
    r = random.randint(1,10)
    inputList.append(r)

inputList = []
c = 10
getInput(inputList, c)
print (inputList)

s, a = stat(inputList)
print ("sum = {0}, average = {1}".format(s,a))

In [ ]:
import numpy as np

# Input array
x = np.array([0.5])

# Bins - 5 bins in total
bins = np.array([0,1,2,3])

# Digitize function - 0.5 belong to the bin 0<= 0.5 <1 - therefore returned index 1
bin = np.digitize(x,bins)
# array([1], dtype=int64)

print ("Bin of {} = {}".format(x, bin))
# The input array can contain several inputs
x = np.array([-0.5,1,3.5])

# Digitize function
np.digitize(x,bins)
# array([0, 2, 4], dtype=int64)

# matplotlib

In [ ]:
import matplotlib.pyplot as plt

x = [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
y = []
for i in x:
  ex = i**3
  y.append(ex)
  

plt.plot(x, y)

In [ ]:
# 데이터를 점으로 표현하는 산포드 그래프 그리기
# 각 데이터 포인트는 연결되지 않는다
plt.scatter(x, y)

In [ ]:
coordinates = list(zip(x, y))
coordinates

히스토그램은 주어진 자료를 몇개의 구간으로 나누고 각 구간의 도수를 조사하여 나타낸 막대그래프임

In [ ]:
plt.hist(y, 5) # 5개의 bin을 사용하여 히스토그램을 그린다

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

data1 = [1,2,3,4,5]
data2 = [2,3,4,5,6]

# 1행과 2행에 대해 자료값을 분포를 보임
plt.boxplot([data1, data2])

In [ ]:
# 열별로 자료 분포를 보임
plt.boxplot(np.array([data1, data2]))